@import url('https://fonts.googleapis.com/css2?family=Abel&family=Lato:wght@400;700;900&family=Nunito+Sans:wght@400;600;700;800&family=Outfit&display=swap');

@font-face {
  font-family: 'Gilroy-Bold';
  src: url($gilroyPath + 'Gilroy-Bold.eot');
  src: url($gilroyPath + 'Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
  url($gilroyPath + 'Gilroy-Bold.woff2') format('woff2'),
  url($gilroyPath + 'Gilroy-Bold.woff') format('woff'),
  url($gilroyPath + 'Gilroy-Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'Gilroy-Medium';
  src: url($gilroyPath + 'Gilroy-Medium.eot');
  src: url($gilroyPath + 'Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
  url($gilroyPath + 'Gilroy-Medium.woff') format('woff'),
  url($gilroyPath + 'Gilroy-Medium.woff2') format('woff2'),
  url($gilroyPath + 'Gilroy-Medium.ttf') format('truetype');
  font-weight: 500;
}


@font-face {
  font-family: 'Gilroy';
  src: url($gilroyPath + 'Gilroy-Regular.eot');
  src: url($gilroyPath + 'Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
  url($gilroyPath + 'Gilroy-Regular.woff2') format('woff2'),
  url($gilroyPath + 'Gilroy-Regular.woff') format('woff'),
  url($gilroyPath + 'Gilroy-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'AirbnbCereal';
  src: url($AirbnbPath + 'AirbnbCereal_W_Md.eot');
  src: url($AirbnbPath + 'AirbnbCereal_W_Md.eot?#iefix') format('embedded-opentype'),
  url($AirbnbPath + 'AirbnbCereal_W_Md.woff2') format('woff2'),
  url($AirbnbPath + 'AirbnbCereal_W_Md.woff') format('woff'),
  url($AirbnbPath + 'AirbnbCereal_W_Md.ttf') format('truetype');
  font-weight: 500;
}
