.footer {
  background-color: #1D2B38;

  &__row {
    display: flex;
    padding: 84px 90px 58px;
    justify-content: space-between;
    column-gap: 20px;
    @include breakpoint(lg){
      padding-left: 45px;
      padding-right: 45px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      row-gap: 15px;
    }
    @include breakpoint(md){
      column-gap: 30px;
    }
    @include breakpoint(sm){
      padding-left: 24px;
      padding-right: 24px;
      grid-template-columns: 1fr;
      row-gap: 0;
    }
    @include breakpoint(xs38){

    }
    @include breakpoint(xs){
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  &__company {
    @include breakpoint(sm){
      margin-bottom: 50px;
    }
    @include breakpointMob(xs38){
      margin-bottom: 30px;
    }
  }

  &__logo {
    display: flex;
    margin-bottom: 44px;
    svg{
      height: auto;
      width: 195px;
      @include breakpoint(md){
        width: 170px;
      }
      @include breakpoint(sm){
        width: 150px;
      }
      @include breakpoint(xs38){
        width: 105px;
      }
    }
    @include breakpoint(sm){
      margin-bottom: 40px;
    }
  }

  &__socials-wrapper {
  }

  &__socials-title {
    font-family: 'Gilroy-Bold', sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 127%;
    color: #F0F0F0;
    margin-bottom: 25px;
    @include fluid-type(380px, $maxWidth, 16px, 22px);
    @include breakpoint(sm){
      line-height: 160%;
      margin-bottom: 15px;
    }
  }

  &__socials {
    display: flex;
    column-gap: 20px;
  }

  &__social-link {
    width: 39px;
    height: 39px;
    background-color:#1A242E;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: .3s ease-in-out;

    &--middle{
      background-color: #FF5A3C;
    }

    @include breakpointMob(md){
      &:hover{
        background-color: #FF5A3C;
      }
      &--middle {
        &:hover{
          background-color: #1A242E;
        }
      }
    }
  }

  .social {

    &__svg-wrapper {
      display: flex;
    }
  }




  &_subscription {
  }

  .subscription {


    @include breakpoint(lg){
      grid-row:2/3;
      grid-column: 1/2;
    }

    &__title {
      font-family: 'Gilroy-Bold', sans-serif;
      font-weight: 700;
      font-size: 22px;
      line-height: 127%;
      color: #FFFFFF;
      margin-bottom: 26px;

      @include breakpoint(sm){
        margin-bottom: 15px;
        font-size: 24px;
        font-family: 'Lato', sans-serif;
        font-weight: 700;
      }

    }

    &__desc {
      font-family: 'Gilroy', sans-serif;
      font-size: 20px;
      line-height: 150%;
      color: #BFBFBF;
      margin-bottom: 20px;
      max-width: 340px;
      @include fluid-type(380px, $maxWidth, 14px, 20px);
      @include breakpoint(sm){
        font-family: 'Lato', sans-serif;
        margin-bottom: 18px;
      }
    }

    &__form {
      @include breakpoint(sm){
        margin-bottom: 35px;
      }
    }
    &__form-inner{
      position: relative;
      width: fit-content;
      height: fit-content;
    }
    &__input{
      width: 320px;
      height: 50px;
      background-color: #fff;
      padding: 0 70px 0 19px;
      font-family: 'Gilroy-Medium', sans-serif;
      font-size: 18px;
      line-height: 124%;
      color: $mainColor;
      &::placeholder{
        color: #C2C2C2;
      }
      @include breakpoint(xl){
        width:calc(100vw / 4.11);
      }
      @include breakpoint(lg){
        width: 100%;
      }
    }
    &__submit {
      width: 60px;
      height: 48px;
      position: absolute;
      right: 1px;
      top: 50%;
      transform:translateY(-50%);
      background-color: #FF5A3C;
      border: 2px solid #FF5A3C;
      transition: .3s ease-in-out;
      svg{
        path{
          transition: .3s ease-in-out;
        }
      }

      @include breakpointMob(md){
        &:hover{
          background-color: #fff;
          svg{
            path{
              fill:#FF5A3C;
            }
          }
        }
        &:active{
          background-color: #FF5A3C;
          svg{
            path{
              fill: #fff;
            }
          }
        }
      }

    }
  }

  &__contacts {
    display: flex;
    column-gap: 20px;
    @include breakpoint(md){
      flex-direction: column;
      row-gap: 15px;
      grid-row: 1/3;
    }
    @include breakpoint(sm){
      flex-direction: row;
      grid-row: unset;
    }
    @include breakpoint(xs38){
      flex-direction: column;
      row-gap: 23px;
    }
  }

  .accordion {

    &__item {
    }

    &__header {
      transition: .3s ease-in-out;
      margin-bottom: 27px;
      @include breakpoint(md){
        margin-bottom: 20px;
      }
      @include breakpoint(xs38){
        margin-bottom: 12px;

        &:not(.active){
          margin-bottom: 0;
        }
      }
      &.active{

        svg{
          transform: rotate(90deg);
        }
      }
    }

    &-btn {
      background-color: unset;

      //margin-bottom: 27px;

      @include breakpoint(xs38){
        display: flex;
        align-items: center;
        column-gap: 10px;
      }

      &__txt{
        font-weight: 700;
        font-family: 'Gilroy-Bold',sans-serif;
        color: #fff;
        font-size: 22px;
        line-height: 127%;
        @include fluid-type(380px, $maxWidth, 16px, 22px);
      }
    }

    &-btn__txt {
    }

    &-btn__svg-wrapper {
      display: none;
      @include breakpoint(xs38){
        display: flex;
      }
      svg{
        transition: transform .3s ease-in-out;
      }
    }

    &__body {
      display: flex;
      flex-direction: column;
      max-width: 190px;
      row-gap: 17px;
      @include breakpoint(md){
        row-gap: 12px;
      }
      @include breakpoint(sm){
        row-gap: 9px;
      }
      @include breakpoint(xs38){
        overflow: hidden;
        transition: max-height 0.2s ease-out;
        max-height: 0;
      }
    }

  }


  &__list-title {
  }

  &__list {
  }

  &__item {
    font-family: 'Gilroy', sans-serif;
    font-size: 18px;
    line-height: 1.7;
    color: #CBCBCB;
    @include fluid-type(380px, $maxWidth, 14px, 18px);
  }

  &__phone {
    @extend .footer__item;
    position: relative;
    transition: .3s ease-in-out;
    &:visited{
      color: #CBCBCB;
    }
    &:before{
      content: '';
      position: absolute;
      left: 0;
      bottom: -1px;
      width: 100%;
      height: 1px;
      transition: .3s ease-in-out;
      background-color: #CBCBCB;
    }
    @include breakpointMob(md){
      &:hover{
        color: #fff;
        &:before{
          width: 0;
        }
      }
    }
  }

  &__copyrights {
    background-color: #2D3B47;
    @include breakpoint(sm){
      background-color: #1D2B38;
    }
  }

  &__rights {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    color: #fff;
    padding: 20px 0 21px;
    @include fluid-type(380px, $maxWidth, 12px, 16px);
    @include breakpoint(sm){
      border-top: 1px solid #4a5560;
      color: #8e959b;
    }
  }
}