@import "mixins";
:root{
  --modal-scale: .1;
}

.content{
  max-width: $maxWidth;
  margin: 0 auto;
}

body{
  font-family: sans-serif;
  font-size: 14px;
  color: $mainColor;
  background-color: #1D2B38;
  &.lock{
    overflow: hidden;
  }
}

.btn-glob{
  background-color: #FF5A3C;
  border-radius: 5px;;
  color: #fff;
  transition: .3s ease-in-out;
  border:1px solid #FF5A3C;
  white-space: nowrap;
  height: fit-content;

  &:visited{
    color: #fff;
  }
  @include breakpointMob(md){
    &:hover{
      background-color: #fff;
      border:1px solid #FF5A3C;
      color: #FF5A3C;
    }
    &:active{
      background-color: #FF5A3C;
      color: #fff;
      border:1px solid #FF5A3C;
    }
  }
}
.title-glob{
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 1.45;
  color: $mainColor;
  @include fluid-type(380px, $maxWidth, 28px, 48px);
}
.background-center{
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
}