
.header{
  background-color: #1D2B38;
  padding-top: 36px;
  @include breakpoint($navBreakpoint){
    padding-top: 0;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 31px;
  background-color: #fff;
  z-index: 5;
  border-radius: 5px;
  column-gap: 25px;
  /*@include breakpointMob($navBreakpoint){
    transform: unset;
    opacity: 1;
  }*/

  @include breakpoint(lg){
    padding: 14px 24px;
  }
  @include breakpoint($navBreakpoint){
    padding: 34px 24px 12px;
    position: fixed;
    width: 100%;
    background-color: #1D2B38;
    border-radius: 0;
    & > .nav__listing-btn{
      display: none;
    }
  }
  @include breakpoint(xs){
    padding: 34px 15px 12px;
  }

  &__listing-btn{
    padding: 8px 21px 9px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0.004em;
    display: block;

  }

  &__list{
    display: flex;
    column-gap:49px;
    flex-wrap: wrap;
    row-gap: 15px;
    justify-content: center;

    @include breakpoint($navBreakpoint){
      row-gap: 0;
      flex-direction: column;
      text-align: center;
      justify-content: start;
      margin: 0 auto;
    }
  }

  &__menu {

    display: flex;
    justify-content: space-between;
    align-items: center;


    &.active{
      @include breakpoint($navBreakpoint){
        overflow: auto;
        flex-wrap: wrap;
        left: 0;
        height: 100%;
        justify-content: start;

      }
    }

    @include breakpoint($navBreakpoint){
      align-items:start;
      padding-top: 80px;
      height: 100%;
      position: fixed;
      left: -100%;
      top:0;
      background-color: #1D2B38;
      width: 100%;
      transition: 0.3s;
      box-shadow:0 10px 27px rgba(0, 0, 0, 0.05);
    }
  }

  &__item {
    &:last-child{
      display: none;
      @include breakpoint($navBreakpoint){
        display: inline-block;
      }
    }
    @include breakpoint($navBreakpoint){
      margin:2.5rem 0;

    }
  }

  &__link{
    color: #666666;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0.004em;
    position: relative;
    transition: .3s ease-in-out;
    display: inline-block;
    white-space: nowrap;

    @include breakpoint($navBreakpoint){
      font-size: 1.5rem;
      color: #fff;

      &.active{
        color: #FF5A3C;
        font-weight: 700;
      }
    }
    &:before{
      content: '';
      position: absolute;
      height: 2px;
      width: 11px;
      left: 0;
      bottom: -6px;
      opacity: 0;
      transition: .3s ease-in-out;
      background-color: #2C090B;
      @include breakpoint($navBreakpoint){
        background-color: #FF5A3C;
        height: 3px;
      }
    }

    &:hover {
      @include breakpointMob(md) {
        color: $mainColor;

        &:before {
          opacity: 1;
        }

        &.active{
          color: #666666;
          &:before{
            opacity: 0;
          }
        }
      }
    }
    &.active{
      @include breakpointMob(md){
        color:$mainColor;
      }

      &:before{
        opacity: 1;
      }
    }
  }

  &__logo {
    display: flex;

    svg{
      @include breakpoint(md){
        width: 120px;
        path:nth-child(1){
          fill:#fff;
        }
      }
      @include breakpoint(sm){
        width: 100px;
      }
    }
  }
}

.hamburger {
  display: none;
  background-color: unset;

  &__circle{
    border: 1px solid #fff;
    width: 5px;
    height: 5px;
    background-color: #FF5A3C;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform:translateY(-50%);
    opacity: 1;
    transition: .2s ease-in-out;
    @include breakpoint(sm){
      width: 4px;
      height: 4px;
    }
  }

  @include breakpoint($navBreakpoint){
    --bar-offset: 7px;
    display: flex;
    flex-direction:column;
    row-gap: 5px;
    cursor: pointer;
    background-color: #FF5A3C;
    border: 1px solid #ff7b63;
    padding: 9.5px 8px;
    border-radius: 4px;
    position: relative;
    z-index: 10;
    @include breakpoint(sm){
      --bar-offset: 5px;
      row-gap: 3px;
    }
    &.active .hamburger__bar{
      .hamburger__circle{
        opacity: 0;
      }
    }
    &.active .hamburger__bar:nth-child(2) {
      opacity: 0;
    }
    &.active .hamburger__bar:nth-child(1) {
      transform: translateY(var(--bar-offset)) rotate(45deg);

    }
    &.active .hamburger__bar:nth-child(3) {
      transform: translateY(calc(var(--bar-offset) * -1)) rotate(-45deg);


    }


  }

  &__bar {
    position: relative;
    display: block;
    width: 25px;
    height: 2px;
    transition: all 0.3s ease-in-out;
    background-color: #fff;

    @include breakpoint(sm){
      width: 16px;
      //height: 1px;
    }
    &:nth-child(1), &:nth-child(3){
      .hamburger__circle{
        right: 5px;

        @include breakpoint(sm){
          right: 3px;
        }
      }
    }

    &:nth-child(2){
      .hamburger__circle{
        right: 10px;
        @include breakpoint(sm){
          right: 5px;
        }
      }
    }
  }
}




