/*######### HERO ###########*/

.hero {

  &__row {
    display: flex;
    flex-direction: column;
    padding: 131px 17px 40px;
    position: relative;

    @include breakpoint(lg){
      padding-left: 45px;
      padding-right: 45px;
      padding-top: 100px;
    }
    @include breakpoint(md){
      padding-bottom: 90px;
      padding-top: 130px;
    }
    @include breakpoint(sm65){
      padding-bottom: 120px;
    }
    @include breakpoint(sm){
      padding: 110px 24px 120px;
      row-gap: 40px;
    }
    @include breakpoint(xs45){
      padding-bottom: 200px;
    }
    @include breakpoint(xs){
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  &__main {
    display: flex;
    justify-content: space-between;
    column-gap: 15px;
    align-items: center;

    @include breakpoint(lg){
      display: grid;
      grid-template-columns: 55% 1fr;
      column-gap: 25px;
      align-items: unset;
      row-gap: 20px;
    }
    @include breakpoint(sm65){
      //row-gap: 20px;
    }
    @include breakpoint(sm){
      grid-template-columns: 2fr;
      row-gap: unset;
    }

  }

  &__txt {
    max-width: 376px;

    @include breakpoint(lg){
      grid-row: 1/2;
      grid-column: 2/3;
      display: flex;
      flex-direction: column;
      justify-content: end;
    }

    @include breakpoint(sm65){
      grid-row: 2/3;
      justify-content: center;
    }
    @include breakpoint(sm){
      max-width: 100%;
      grid-row: 1/2;
      grid-column: 1/2;
      margin-bottom: 40px;
    }
    @include breakpoint(xs38){

    }
  }

  &__title {
    font-family: 'Lato', sans-serif;
    font-weight: 800;
    font-size: 54px;
    line-height: 1.3;
    text-transform: capitalize;
    color: #FFFFFF;
    margin-bottom: 31px;
    @include fluid-type(992px, $maxWidth, 42px, 54px);
    @include breakpoint(lg){
      @include fluid-type(768px, 992px, 30px, 32px);
    }
    @include breakpointMob(md){
      margin-bottom: 24px;
    }
    @include breakpoint(sm65){
      margin-bottom: 20px;
    }
    @include breakpoint(sm){
      font-weight: 700;
    }

    @include breakpointMob(xs38){
      font-size: 42px;
      margin-bottom: 12px;
    }

  }

  &__desc {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #FFFFFF;
    margin-bottom: 34px;
    @include fluid-type(380px, $maxWidth, 14px, 16px);

    @include breakpointMob(md){
      margin-bottom: 16px;
    }
    @include breakpoint(xs38){
      margin-bottom: 22px;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    column-gap: 12px;
    width: fit-content;

    @include breakpointMob(xs38){
      column-gap: 7px;
    }
    &:hover{
      .hero__link-txt{
        &:before{
          opacity: 1;
        }
      }
      .hero__link-svg{
        transform: translateX(10px);
      }
    }
  }

  &__link-txt {
    position: relative;
    display: inline-block;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FF5A3C;
    @include fluid-type(380px, $maxWidth, 16px, 18px);

    &:before{
      content: '';
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: #FF5A3C;
      display: block;
      left: 0;
      bottom: -1px;
      transition: .3s ease-in-out;
      opacity: 0;
    }
  }

  &__link-svg {
    position: relative;
    transition: .3s ease-in-out;
  }

  &__img-block {
    //--img-border-radius: 47%;
    --img-border-radius: calc(100vw / 5.2);
    max-width: 540px;
    max-height: 640px;
    overflow: hidden;
    border-radius: var(--img-border-radius) var(--img-border-radius) 0 0;

    @include breakpoint(lg){
      --img-border-radius: calc(100vw / 4.2);
      grid-row: 1/3;
      grid-column: 1/2;
    }
    @include breakpoint(md){
      --img-border-radius: 160px;
      //height: calc(100vw - 48px);
      margin-left: 26px;
      margin-right: 26px;
      display: flex;
      height: fit-content;
    }
    @include breakpoint(sm65){
      //height: calc(100vw - 48px);
      grid-row: 2/3;
    }
    @include breakpoint(sm){
      height: calc(100vw - 48px);
      --img-border-radius: 230px;
      margin-bottom: 27px;
      flex-direction: column;
    }
    @include breakpoint(xs38){

      height: 280px;
    }
  }

  &__img {
  }

  &__quote {
  }

  .quote {
    max-width: 344px;
    background-color: #283642;
    padding: 29px 8px;
    height: fit-content;
    position: relative;
    @include breakpoint(lg){
      grid-row: 2/3;
      grid-column: 2/3;
    }
    @include breakpoint(sm65){
      grid-row: 1/2;
      grid-column: 1/3;
      max-width: 100%;
    }
    @include breakpoint(sm){
      grid-column: 1/2;
      grid-row: 3/4;
    }
    @include breakpoint(xs38){
      padding: 8px 4px;
      max-width: calc(100vw - 48px);
      margin-left: 26px;
      margin-right: 26px;
    }
    &__txt {

      font-family: 'Lato', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 160%;
      color: #FFFFFF;
      text-align: center;
      @include fluid-type(380px, $maxWidth, 14px, 16px);


    }


    &__svg-wrapper {
      display: flex;
      position: absolute;
      height: auto;

      right: 37px;
      top: -16px;


      @include breakpoint(sm){
        right: 8px;
        top: -10px;

      }
      svg{
        width: 42px;
        height: auto;
        @include breakpoint(md){
          width: 31px;
        }
        @include breakpoint(sm){
          width: 23px;
        }

      }
    }
  }



  &__form-wrapper {

    padding: 13px 12px 20px;
    border-radius: 15px;
    border: 1px solid #fff;
    background-color: rgba(255,255,255,.25);
    max-width: 920px;
    width: 100%;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 50%) ;
    z-index: 4;

    @include breakpoint(lg){
      max-width: calc(100vw - 90px);
    }
    @include breakpoint(sm){
      max-width: calc(100vw - 48px) ;
    }

    @include breakpoint(xs){
      max-width: calc(100vw - 30px) ;
    }
  }

  &__form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 30px 47px 34px 66px;
    border-radius: 10px;
    column-gap: 20px;
    @include breakpoint(lg){
      padding: 25px 35px 29px;
    }
    @include breakpoint(md){
      padding: 20px 30px 25px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      row-gap: 15px ;
    }
    @include breakpoint(sm){
      padding: 17px 17px 16px;
      row-gap: 12px;
    }
    @include breakpoint(xs45) {
      grid-template-columns: 1fr;
    }

  }

  &__dropdown-wrapper {
    width: 100%;
    &.dropdown-wrapper__category{
      max-width: 166px;
      width: 166px;
    }
    &.dropdown-wrapper__location,
    &.dropdown-wrapper__area{
      max-width: 135px;
      width: 135px;
    }
    @include breakpoint(md){
      &.dropdown-wrapper__category,
      &.dropdown-wrapper__location,
      &.dropdown-wrapper__area{
        max-width: 166px;
        width: 100%;
      }
    }
    @include breakpoint(xs45){
      border: 1px solid #E7E7E7;
      border-radius: 5px;
      padding: 8px 14px;
      &.dropdown-wrapper__category,
      &.dropdown-wrapper__location,
      &.dropdown-wrapper__area{
        max-width: 100%;
      }
    }
  }

  .dropdown-wrapper{

    @include breakpoint(md) {
      margin: 0 auto;

      &__category {
        grid-row: 1/2;
        grid-column: 1/2;
      }
      &__location {
        grid-row: 1/2;
        grid-column: 2/3;
      }
      &__area {
        grid-row: 2/3;
        grid-column: 1/2;
      }
    }
    @include breakpoint(xs45){
      &__category {
        grid-row: unset;
        grid-column: 1/2;
      }
      &__location {
        grid-row: unset;
        grid-column: 1/2;
      }
      &__area {
        grid-row: unset;
        grid-column: 1/2;
      }
    }
  }

  &__dropdown-title {
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.2;
    color: $mainColor;
    @include fluid-type(768px, $maxWidth, 16px, 18px);

    @include breakpoint(md){
      @include fluid-type(576px, 768px, 16px, 17px);
    }
    @include breakpoint(sm){
      @include fluid-type(380px, 576px, 14px, 16px);
    }

  }

  &__dropdown {
  }

  .dropdown {
    position:relative;
    margin-top: 6px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 100%;
    ///display: flex;
    /*align-items: center;
    flex-direction: row-reverse;
    column-gap: 3px;*/


    &__input {
      user-select:none;
      cursor:pointer;
      top: 0;
      left: 0;
      width: 100%;
      background:#fff;
      border:none;
      outline:none;
      font-family: 'Nunito Sans', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 1.375;
      color: #9F9F9F;
      padding-right: 10px;
      @include fluid-type(380px, $maxWidth, 14px, 16px);

      &::placeholder{
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        //@include truncate-text(calc(100% - 25px));
      }
    }

    &__option {
      position: absolute;
      //top: 60px;
      border: 1px solid #E7E7E7;
      top: calc(1.375rem + 8px);
      width: calc(100% + 10px);
      height: 200px;
      left: 50%;
      background-color: #fff;
      transform: scale(1,0) translateX(-50%);
      transition: .3s ease-in-out;
      transform-origin: top left;
      //max-height: 150px;
      overflow:auto;
      z-index: 2;
      font-size: 16px;
      @include breakpoint(sm){
        //left: -14px;
        width: calc(100% + 28px);
      }
    }

    &__item {
      padding: 8px 14px;
      cursor:pointer;
      transition: .2s ease-in-out;
      font-family: 'Lato', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 1.375;

      &:hover{
        background: #1D2B38;
        color:white;
      }
    }

    &:before{
      content: '';
      background-image: url('../img/arrow-bottom.svg');
      background-size: 8px 5px;
      display: block;
      width: 8px;
      height: 5px;
      position: absolute;
      transition: .3s ease-in-out;
      z-index: 2;
      right: 0;
      top: 50%;
      transform-origin:top center;
      transform: translateY(-50%);

    }

    &.active{
      &:before{
        transform: rotate(-180deg) translateY(-50%);
      }

      .dropdown__option{
        transform:scale(1,1) translateX(-50%);
      }
    }
  }
  &__submit-wrapper{
    @include breakpoint(md){
      grid-row: 2/3;
      grid-column: 2/3;
    }
    @include breakpoint(xs45){
      grid-row: unset;
      grid-column: 1/2;
    }
  }
  &__submit-btn {
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2;
    text-align: center;
    color: #F6FAFD;
    padding: 19px 53px 23px;
    @include breakpoint(lg){
      padding: 15px 45px 18px;
    }
    @include breakpoint(md){

    }
    @include breakpoint(sm){
      width: 100%;
    }

  }
}

/*######### HERO END ###########*/

/*######### CLIENTS ###########*/

.clients {
  background-color: #F9F9F9;

  .content{
    padding-top: 160px;
    padding-bottom: 85px;

    @include breakpoint(lg){
      padding-top: 140px;
      padding-bottom: 65px;
    }
    @include breakpoint(sm){
      padding-top: 100px;
      padding-bottom: 45px;
      column-gap: 20px;
    }
    @include breakpoint(xs45){
      padding-top: 175px;
    }
  }
  &__row {
    display: flex;
    column-gap: 54px;
    padding-left: 105px;
    padding-right: 105px;
    overflow: auto;
    white-space: nowrap;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

    @include breakpoint(lg){
      padding-left: 45px;
      padding-right: 45px;
      column-gap: 45px;
    }
    @include breakpoint(sm){
      padding-left: 24px;
      padding-right: 24px;
      column-gap: 20px;
    }
    @include breakpoint(xs45){
      //padding-top: 175px;
    }
    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__item {
    opacity: 1;
    position: relative;
    z-index: 1;
    width: 150px;
    min-width: 150px;
    height: 100px;
    overflow: hidden;
    border-bottom: 1px solid #fff;
    transition: .3s ease-in-out;

    @include breakpoint(lg){
      width: 120px;
      min-width: 120px;
      height: 80px;
    }
    @include breakpoint(sm){
      width: 59px;
      max-width: 59px;
      height: 39px;
    }
    &:hover{
      border-bottom: 1px solid #1A242E;
    }
  }

  &__img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

/*######### CLIENTS END ###########*/

/*######### EXPERIENCE ###########*/

.experience {

  background-color: #F9F9F9;

  &__row {
    display: flex;
    padding: 0 105px 80px;
    position: relative;
    column-gap: 95px;
    align-items: center;
    @include breakpoint(xl){
      column-gap: calc(100vw / 14.75);
    }
    @include breakpoint(lg){
      padding-left: 45px;
      padding-right: 45px;
    }

    @include breakpoint(sm){
      padding: 0 24px 50px;
      row-gap: 40px;
      display: flex;
      flex-direction: column;
    }

    @include breakpoint(xs){
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  &__txt {
    max-width: 505px;
    flex-basis: 50%;

  }
  &__txt-inner{
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    @include breakpoint(lg){
      row-gap: 24px;
    }
  }

  &__title {
  }

  &__desc {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: #9F9F9F;

    @include fluid-type(380px, $maxWidth, 14px, 18px);
  }

  &__stats {
    display: flex;
    column-gap: 60px;
    @include breakpoint(lg){
      column-gap: calc(100vw / 24);
    }
    @include breakpoint(sm){
      column-gap: 20px;
      margin: 0 auto;
    }
    @include breakpoint(xs38){
      width: 100%;
      justify-content: space-between;
      column-gap: 15px;
    }
  }

  &__stat-item {
  }

  .stat-item {
    display: flex;
    flex-direction: column;
    @include breakpoint(sm){
      row-gap: 4px;
    }
    &__value {
      font-family: 'Nunito Sans', sans-serif;
      font-style: normal;
      font-weight: 800;
      font-size: 48px;
      line-height: 1.35;
      text-align: center;
      color: $mainColor;
      @include fluid-type(380px, $maxWidth, 28px, 48px);
    }

    &__desc {
      font-family: 'Nunito Sans', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 25px;
      color: #9F9F9F;
      white-space: nowrap;
      @include fluid-type(380px, $maxWidth, 14px, 18px);

    }
  }



  &__btn {
    display: block;
    margin-top: 60px;
    width: fit-content;
    padding: 21px 54px;

    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.2;
    color: #F6FAFD;
    @include fluid-type(380px, $maxWidth, 14px, 18px);


    @include breakpoint(lg){
      margin-top: 44px;
      padding: 16px 45px;
    }
    @include breakpoint(sm){
      margin: 44px auto 0;
    }
    @include breakpoint(xs38){
      padding: 15px 40px;
    }
  }

  &__img-outer {
    height: 636px;
    flex-basis: 50%;
    position: relative;
    border-radius: 15px;
    @include breakpoint(xl){}

    @include breakpoint(sm){
      flex-basis: unset;
      height: 200px;
      width: 100%;
    }
    @include breakpoint(xs45){
      height: 355px;
    }
  }

  &__img-chart {
    width: 212px;
    height: 212px;
    background-color: #FCFCFC;
    box-shadow: 12px 18px 50px rgba(0, 0, 0, 0.13);
    border-radius: 12px;
    position: absolute;
    top: 71px;
    right: -62px;
  }

  .chart{
    &__wrapper{

      width: 212px;
      height: 212px;
      background-color: #FCFCFC;
      box-shadow: 12px 18px 50px rgba(0, 0, 0, 0.13);
      border-radius: 12px;
      position: absolute;
      top: 71px;
      right: -62px;
      @include breakpoint(lg){
        bottom: -50px;
        left: 50%;
        top: unset;
        right: unset;
        transform:translateX(-50%);
      }
      @include breakpoint(md){
        display: none;
      }
    }


    &__img {
      position: absolute;
      left: 17px;
      top: 32px;
      /* transform: translate(-50%, -50%); */
      object-fit: cover;
    }
    &__value{
      font-family: 'Lato', sans-serif;
      font-style: normal;
      font-weight: 800;
      font-size: 20px;
      line-height: 20px;
      text-align: center;
    }
    &__status{

    }
  }

  &__img-bg {
  }
}

/*######### EXPERIENCE END ###########*/

/*######### CATALOG ###########*/

.catalog {

  background-color: #fff;
  &__row {
    padding: 100px 105px 180px;

    @include breakpoint(lg){
      padding: 100px 45px 150px;
    }

    @include breakpoint(sm){
      padding: 60px 24px;
    }

    @include breakpoint(xs){
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  &__header {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-bottom: 44px;
    @include breakpoint(sm){
      row-gap: 18px;
      margin-bottom: 47px;
    }
  }

  &__title {
    text-align: center;
  }

  .title-glob {
  }

  &__desc {
    max-width: 570px;
    margin: 0 auto;
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    text-align: center;
    color: #6B6B6B;
    @include fluid-type(380px, $maxWidth, 14px, 18px);
  }

  &__cards {
    display: flex;
    justify-content: center;
    column-gap: 30px;
    row-gap: 60px;
    flex-wrap: wrap;
    @include breakpoint(xl){
      justify-content: center;
      row-gap: 50px;
      column-gap: 25px;
    }
    @include breakpoint(lg){
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 10px;
      row-gap: 35px;
    }
    @include breakpoint(md){
      grid-template-columns: 1fr;
      row-gap: 20px;
    }
    @include breakpoint(xs38){
      row-gap: 16px;
    }
  }

  &__card {
  }

  .card {
    //min-width: 370px;
    max-width: 370px;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 0px 28px 243px -79px rgba(0, 0, 0, 0.16);
    padding: 12px;
    //margin-left: 0;

    @include breakpoint(xl){

    }
    @include breakpoint(lg){
      &:nth-child(odd){
        margin-left: auto;
      }
    }
    @include breakpoint(md){
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      max-width: unset;
      margin-left: unset;
      &:nth-child(n + 5){
        display: none;
      }
    }
    @include breakpoint(sm){
      max-width: 370px;
      display: flex;
      flex-direction: column;
      padding: 13px 10px 12px;
      width: 100%;
      margin: 0 auto;
    }
    &__img-outer {
      display: block;
      margin-bottom: 22px;

      @include breakpoint(md){
        grid-row: 1/3;
        grid-column: 1/2;
        margin-bottom: 0;
      }
      @include breakpoint(sm){
        margin-bottom: 22px;
      }
    }

    &__img-inner {
      position: relative;
      overflow: hidden;
      width: 100%;
      height: 0;
      padding-bottom: 82%;
      border-radius: 13px;
      @include breakpoint(md){
        padding-bottom: 100%;
      }
      @include breakpoint(sm){
        padding-bottom: 82%;
      }
    }

    &__img {
      position: absolute;
      top: 50%;
      left: 50%;
      height: 100%;
      width: 100%;
      transform:translate(-50%, -50%);
      object-fit: cover;
    }

    &__location {
      position: absolute;
      z-index: 1;
      color: #fff;
      font-family: 'Nunito Sans', sans-serif;
      font-weight: 400;
      font-size: 12px;
      line-height: 1.3;
      display: block;
      padding: 5px 11px 5px 10px;
      left: 12px;
      bottom: 9px;
      background: rgba(0, 0, 0, 0.32);
      border-radius: 3px;

      @include breakpoint(sm){
        left: 13px;
        bottom: 10px;
      }
    }

    &__body {
      margin-left: 12px;
      margin-right: 12px;
      @include breakpoint(md){
        display: flex;
        flex-direction: column;
        justify-content: end;
      }
      @include breakpoint(sm){
        justify-content: start;
        margin-left: 0;
        margin-right: 0;
      }
    }

    &__price-outer {
      display: flex;
      justify-content: space-between;
      column-gap: 20px;
      align-items: center;
      margin-bottom: 23px;

      @include breakpoint(sm){
        margin-bottom: 22px;
      }
      @include breakpoint(xs38){
        flex-direction: column;
        row-gap: 10px;
        align-items: start;
      }
    }

    &__price {
      font-family: 'Lato', sans-serif;
      font-weight: 800;
      font-size: 22px;
      line-height: 1.2;
      color: $mainColor;

    }

    &__tags {
      display: flex;
      flex-wrap: wrap;
      column-gap: 8px;
      row-gap: 8px;
    }

    &__tag {
      border-radius: 5px;
      padding-left: 8px;
      padding-right:10px;
      display: flex;
      column-gap: 6px;
      align-items: center;
      justify-content: center;
      height: 24px;
      @include breakpoint(sm){
        font-weight: 600;
        //padding: 5px 10px 5px 8px;
        column-gap: 5px;
      }
    }

    &__tag--family {
      background-color: #FFF3E5;
      color: #FF8700;
    }
    &__tag--network {
      background-color:#E8F1F8;
      color: #1B70BB;

    }

    &__rooms-info {

    }
    &__footer {
      display: flex;
      justify-content: space-between;
      column-gap: 20px;
      align-items: center;
      padding-top: 15px;
      border-top: 1px solid #E7E7E7;
      @extend .card__body;
      padding-bottom: 5px;

      @include breakpoint(md){
        //flex-direction: row;
        row-gap: 10px;
      }
      @include breakpoint(sm){
        flex-direction: row;
      }
    }

    &__realtor {
    }
    &__more-btn {
    }
  }



  .tag {
    &__svg-wrapper {
      display: flex;
    }

    &__txt {
      font-family: 'Abel', sans-serif;
      font-weight: 400;
      font-size: 10px;
      line-height: 160%;
      white-space: nowrap;
    }
  }


  .room-info {
    display: flex;
    margin-bottom: 20px;
    column-gap: 10px;
    flex-wrap: wrap;


    &__block {
      display: flex;
      column-gap: 5px;
      align-items: center;
    }

    &__svg-wrapper {
      display: flex;
      svg{
        width: 14px;
        height: auto;
      }
    }

    &__txt {
      display: flex;
      flex-wrap: nowrap;
      column-gap: 5px;
    }

    &__value {
      font-family: 'Nunito Sans', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 160%;
      align-items: center;
      letter-spacing: 0.0125em;
      color: #768192;

    }

    &__desc {
      @extend .room-info__value;
      white-space: nowrap;
    }
  }


  .realtor {
    display: flex;
    column-gap: 9px;
    align-items: center;

    @include breakpoint(md){
      margin-right: auto;
    }
    @include breakpoint(sm){
      column-gap: 8px;
      margin-right: unset;
    }
    &__img-outer {
      width: 40px;
      min-width: 40px;
      height: 40px;
      position: relative;
      overflow: hidden;
      border-radius: 50%;
      background-color: #E9EDFF;
    }

    &__photo {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      object-fit: cover;
    }

    &__name {
      font-family: 'Nunito Sans', sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 1.35;
      color: $mainColor;
    }
  }





  .btn-glob {
    display: block;
    padding: 10px 14px;
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.3;
    color: #FFFFFF;
    white-space: nowrap;

    @include fluid-type(380px, $maxWidth, 12px, 14px);
    @include breakpoint(md){
      margin-left: auto;

    }
    @include breakpoint(sm){
      font-family: 'Lato', sans-serif;
      padding: 8px 19px 11px;

    }
    @include breakpoint(xs38){
      padding: 8px 15px;
    }
    &:hover{
      color: #FF5A3C;
    }
    &:active{
      color: #fff;
    }

  }
}

/*######### CATALOG END ###########*/

/*######### PROPERTY ###########*/

.property {
  overflow: hidden;
  //background-color: #1D2B38;
  &__row {
    display:grid;
    padding: 60px 105px;

    grid-template-columns: 46% 1fr;
    column-gap: 50px;
    @include breakpointMob(xl){

    }
    @include breakpoint(lg){
      padding: 55px 45px;

    }
    @include breakpoint(md){
      grid-template-columns: 1fr;
    }
    @include breakpoint(sm){
      padding: 42px 24px 60px;
    }

    @include breakpoint(xs){
      padding-left: 15px;
      padding-right: 15px;
    }

  }

  &__video {
    position: relative;
    grid-row: 1/3;
    grid-column: 1/2;
    @include breakpoint(md){
      grid-row: 2/3;
      margin-top: 34px;
    }
  }
  &__preview-wrapper{
    width: 100%;
    //height: 0;
    //padding-bottom: 83%;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    //max-height: 544px;
    min-height: 544px;
    height: 100%;
    @include breakpoint(lg){
      min-height: 300px;
    }
    @include breakpoint(md){
      height: 300px;
      min-height: unset;
    }
    @include breakpoint(sm){
      height: 230px;
    }
  }
  &__video-preview {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform:translate(-50%,-50%);
    object-fit: cover;
  }

  .modal {
    &.active{
      --modal-scale:1;
      .modal__window{
        opacity:1;
        z-index:10;
        .modal__content{

        }
      }
    }

    &__btn {
      background-color: #FF5A3C;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      //position: relative;
      z-index: 2;
      width: 94px;
      height: 94px;
      min-width: 94px;
      border:1px solid #FF5A3C;
      position: absolute;
      top: 50%;
      left: 50%;
      transform:translate(-50%, -50%);

      @include breakpoint(md){
        width: 68px;
        height: 68px;
        min-width: 68px;

      }
      @include breakpoint(sm){
        width: 48px;
        height: 48px;
        min-width: 48px;
      }
      &:before{
        content: '';
        width: 100%;
        height: 100%;
        border:1px solid #FF5A3C;
        border-radius: 50%;
        position: absolute;
        z-index: 1;
        transform: scale(1);
        animation-name: pulseBorderBtn;
        animation-duration: 1s;
        animation-iteration-count:infinite;

      }
      &:hover{
        background-color: #fff;
        &:before{
          animation-play-state: paused;
        }
        svg{
          transform: scale(1.2);
          path{
            fill: #FF5A3C;
          }
        }
      }
      &:active{
        background-color: #FF5A3C;
        &:before{
          animation-play-state: paused;
        }
        svg{
          transform: scale(1.2);
          path{
            fill: #fff;
          }
        }
      }
      svg{
        width: 20px;
        height: auto;
        transition: .3s ease-in-out;
        @include breakpoint(md){
          width: 18px;
        }
        @include breakpoint(sm){
          width: 14px;
        }
        path{
          transition: .2s ease-in-out;
        }
      }
      @keyframes pulseBorderBtn {
        from{
          transform: scale(1);
          opacity: 1;
        }
        to{
          transform: scale(1.7);
          opacity: 0;
        }
      }
    }

    &__window {

      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, .6);
      z-index:-1;
      opacity:0;
      transition:.3s ease-in-out;

    }
    &__content {
      position: relative;
      width: 70%;
      max-width: 1200px;
      height: calc(70vw / 1.78);
      max-height: 675px;
      top: 50%;
      transform-origin: top center;
      background-color: #fff;
      margin: 0 auto;
      transition:.3s ease-in-out;
      transform: scale(var(--modal-scale)) translateY(-50%);

      @include breakpoint(md){
        max-width: 90vw;
        width: 100%;
        max-height: calc(90vw / 1.78);
        height: 100%;
      }
      @include breakpoint(sm){
        max-width: 100%;
        max-height: 56vw;
      }
    }

    &__close {
      cursor: pointer;
      position: absolute;
      right: 15px;
      top: 15px;
      display: flex;
      width: 40px;
      height: 40px;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      background-color: rgba(0,0,0,.25);

      @include breakpoint(md){
        width: 30px;
        height: 30px;
        right: 10px;
        top: 10px;
      }
      svg{
        width: 20px;
        height: auto;
        transition: .3s ease-in-out;
        @include breakpoint(md){
          width: 15px;

        }
      }
      &:hover{
        svg{
          transform: rotate(90deg);
        }
      }
    }
  }



  &__txt {
    grid-row: 1/2;
    grid-column: 2/3;

    @include breakpoint(md){
      grid-column: 1/2;
    }
  }

  &__title {
    color: #fff;
    margin-bottom: 20px;
    @include breakpoint(sm){
      margin-bottom: 16px;
    }
  }

  &__desc {
    font-family: 'Lato',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #FFFFFF;
    @include fluid-type(380px, $maxWidth, 14px, 16px);
    margin-bottom: 28px;
    @include breakpoint(sm){
      margin-bottom: 14px;
    }
  }

  &__address {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 160%;
    color: #FFFFFF;
    @include fluid-type(380px, $maxWidth, 16px, 20px);
    margin-bottom: 31px;
    @include breakpoint(xs38){
      margin-bottom: 16px;
    }

  }

  &__price-outer {
    display: flex;
    column-gap: 28px;
    align-items: center;
    margin-bottom: 31px;
    @include breakpoint(md){
      margin-bottom: 24px;
      column-gap: 20px;
    }
    @include breakpoint(sm){
      margin-bottom: 18px;
      column-gap: 16px;
      flex-direction: column;
      align-items: start;
      row-gap: 15px;
    }
  }

  &__price {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 26px;
    line-height: 160%;
    color: #FFFFFF;
    @include fluid-type(380px, $maxWidth, 20px, 26px);

  }

  &__tags {
    display: flex;
    column-gap: 10px;
    row-gap: 8px;
    flex-wrap: wrap;
  }

  &__tag {
    padding: 6px 13px 7px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    column-gap: 6px;
    transition: .3s ease-in-out;

    &--family{
      background: #FF5A3C;
      border: 1px solid #FF5A3C;
    }
    &:hover{
      background-color: #fff;

      svg{
        path{
          stroke: #1D2B38;
        }
      }
      .property-tag__txt{
        color: #1D2B38;
      }
    }
  }

  &-tag {

    &__svg-wrapper {
      display: flex;
      svg{
        width: 14px;
        height: auto;
        path{
          transition: .3s ease-in-out;
        }
      }
    }

    &__txt {
      color: #fff;
      font-family: 'Lato', sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 11px;
      line-height: 160%;
      transition: .3s ease-in-out;
    }
  }

  &__tag--family {
  }



  &__rooms-info {
    display: flex;
    flex-wrap: wrap;
    column-gap: 25px;
    row-gap: 10px;
    align-items: center;
    @include breakpoint(md){
      column-gap: 20px;
    }
    @include breakpoint(sm){
      column-gap: 15px;
    }
    @include breakpoint(xs38){
      column-gap: 9px;
    }
  }

  .room-info {

    &__block {
      display: flex;
      align-items: center;
      column-gap: 15px;
      @include breakpoint(md){
        column-gap: 9px;
      }
      @include breakpoint(sm){
        column-gap: 6px;
      }
    }

    &__svg-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 32px;
      height: 32px;
      min-width: 32px;
      border-radius: 50%;
      background-color: #616A74;

      @include breakpoint(lg){
        width: 28px;
        height: 28px;
        min-width: 28px;
      }
      @include breakpoint(sm){
        width: 20px;
        height: 20px;
        min-width: 20px;

      }
      svg{
        width: 16px;
        height: auto;
        @include breakpoint(lg){
          width: 14px;
        }
        @include breakpoint(sm){
          width: 10px;
        }
      }
    }

    &__txt {
      display: flex;
      align-items: center;
      column-gap: 9px;
      @include breakpoint(sm){
        column-gap: 8px;
      }
    }

    &__value {
      font-family: 'Lato', sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 160%;
      letter-spacing: 0.0125em;
      color: #F9F9F9;
      @include fluid-type(380px, $maxWidth, 14px, 16px);
    }

    &__desc {
      @extend .room-info__value;
    }
  }



  &__gallery {
    grid-row: 2/3;
    grid-column: 2/3;
    display: flex;
    column-gap: 15px;
    margin-top: 50px;
    &:nth-child(n + 4){
      display: none;
    }
    @include breakpoint(lg){
      grid-row: 3/4;
      grid-column: 1/3;
    }
    @include breakpoint(md){
      margin-top: 25px;
      grid-column: 1/2;
      grid-row: 3/4;
    }
    @include breakpoint(sm){
      margin-top: 20px;
    }
    @include breakpoint(xs38){
      margin-top: 13px;
      column-gap: 13px;
    }
  }

  .gallery {
    --scale-ratio: 1;
    &__img-wrapper {
      border-radius: 7px;
      overflow: hidden;
      position: relative;
      width: 100%;
      height: 136px;
      display: block;
      @include breakpoint(sm){
        height: 101px;
      }
      @include breakpoint(xs38){
        height: 80px;
      }
    }

    &__img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(var(--scale-ratio));
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform .3s ease-in-out;

      &:hover{
        --scale-ratio: 1.2;
      }
    }
  }


}

/*######### PROPERTY END ###########*/

/*######### ACTIVITY ###########*/

.activity {
  background-color: #F9F9F9;;

  &__row {
    display: flex;
    column-gap: 75px;
    padding: 125px 105px;

    @include breakpoint(xl){
      column-gap: 60px;
    }
    @include breakpoint(lg){
      padding: 100px 45px ;
      column-gap: 30px;
    }
    @include breakpoint(md){
      padding-bottom: 80px;
      padding-top: 80px;
      flex-direction: column-reverse;
    }
    @include breakpoint(sm){
      padding: 64px 24px 84px;
    }
    @include breakpoint(xs){
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  &__img-wrapper{
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 15px;
    position: relative;
    @include breakpoint(md){
      position: absolute;
    }
  }
  &__img-bg{
    position: absolute;
    width:100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    object-fit: cover;
  }
  &__img-block {
    max-width: 40%;
    width: 100%;
    position: relative;

    @include breakpoint(md){
      min-height: 375px;
      max-width: 100%;
      margin-top: 50px;
    }
    @include breakpoint(sm){
      margin-top: 45px;
    }
    @include breakpoint(xs){
      margin-top: 32px;
    }

  }

  &__stats {
  }

  .stats {
    z-index: 1;
    background-color: #F6FAFD;
    box-shadow: 0 25px 115px 23px rgba(18, 18, 18, 0.14);
    border-radius: 18px;
    padding: 20px 24px 28px;
    position: absolute;
    bottom: 40px;
    left: -70px;
    display: flex;
    column-gap: 20px;
    align-items: end;
    @include breakpoint(lg){
      left: 50%;
      bottom: 0;
      transform: translate(-50%, 30%);
    }
    @include breakpoint(md){
      border-radius: 14px;
      padding: 15px 16px 20px;
    }
    @include breakpoint(sm){
      padding: 9px 15px 9px 9px;
      bottom: 35px;
      left: -16px;
      transform: unset;
    }
    @include breakpoint(xs38){
      border-right: 10px;
    }
    @include breakpoint(xs){
      left: -10px;
      bottom: 25px;
    }

    &__txt {
    }

    &__title {
      font-family: 'Lato', sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 1.2;
      color: $mainColor;
      margin-bottom: 12px;
      @include fluid-type(768px,$maxWidth, 16px, 24px);
      @include breakpoint(md){
        @include fluid-type(380px, 768px, 12px, 16px);
      }
      @include breakpoint(sm){
        margin-bottom: 8px;
      }

    }

    &__desc {
      display: flex;
      column-gap: 7px;
      align-items: center;
      margin-bottom: 10px;
      @include breakpoint(md){
        margin-bottom: 8px;
        column-gap: 5px;
      }
      @include breakpoint(sm){
        column-gap: 3px;
        margin-bottom: 6px;
      }
    }

    &__value {
      display: inline-block;
      font-family: 'Lato', sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 34px;
      line-height: 1.2;
      color: $mainColor;
      @include fluid-type(758px, $maxWidth, 26px, 34px);
      @include breakpoint(md){
        @include fluid-type(380px, 758px, 20px, 26px);
      }
    }

    &__interval {
      white-space: nowrap;
      display: inline-block;
      font-family: 'Lato', sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 1.18;
      color: $mainColor;
      @include fluid-type(380px, $maxWidth, 14px, 16px);
      @include breakpoint(sm){
        font-weight: 400;
        color: #979797;
      }

    }

    &__general {
      display: flex;
      align-items: center;
      column-gap: 11px;
      @include breakpoint(sm){
        column-gap: 8px;
      }
    }

    &__svg-wrapper {
      display: flex;
      svg{
        width: 18px;
        height: auto;
        @include breakpoint(sm){
          width: 8px;
        }
      }
    }

    &__general-val {
      font-family: 'Lato', sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 1.2;
      color: $mainColor;
      @include fluid-type(768px, $maxWidth, 14px, 20px);

      @include breakpoint(md){
        @include fluid-type(380px, 768px, 12px, 14px);
      }
      @include breakpoint(sm){
        font-weight: 500;
      }
    }

    &__chart-wrapper {
    }
  }

  .chart {
    display: flex;
    column-gap: 6px;
    margin-bottom: 11px;

    @include breakpoint(lg){
      margin-bottom: 7px;
    }
    @include breakpoint(md){
      margin-bottom: 4px;
    }
    @include breakpoint(sm){
      margin-bottom: 0;
      column-gap: 4px;
    }
    .chart__column {
      border-radius: 3px;
      background-color: #FF5A3C;
      width: 26px;
      height: 78px;
      position: relative;
      z-index: 0;
      @include breakpoint(sm){
        height: 62px;
        width: 19px;
      }
      &:before{
        content: '';
        border-radius: 3px 3px 0 0;
        width: 100%;
        height:31px;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
        display: block;
        background: linear-gradient(0deg, rgba(248,210,205,1) 0%, rgba(255,255,255, 1) 110%);
        @include breakpoint(sm){
          height: 25px;
        }
      }

      &:nth-child(2){
        &:before{
          height: 49px;
          @include breakpoint(sm){
            height: 39px;
          }
        }
      }
    }
  }



  &__txt {
    display: flex;
    flex-direction: column;
  }

  &__title {
    margin: 42px 0 27px;
    @include breakpoint(lg){
      margin-top: 30px;
    }
    @include breakpoint(md){
      margin-top: 0;
    }
    @include breakpoint(xs38){
      margin-bottom: 10px;
    }
  }

  &__desc {
    margin-bottom: 35px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: #9F9F9F;
    @include fluid-type(380px, $maxWidth,14px, 18px);
    @include breakpoint(md){
      margin-bottom: 30px;
    }
    @include breakpoint(sm){
      margin-bottom: 24px;
    }

  }

  &__list {
  }

  .list {
    display: flex;
    flex-direction: column;
    row-gap: 27px;

    @include breakpoint(md){
      row-gap: 20px;
    }
    @include breakpoint(sm){
      row-gap: 16px;
    }
    &__item {
    }

    &__item-header{
      display: flex;
      column-gap: 17px;
      align-items: center;
      margin-bottom: 18px;
      @include breakpoint(md){
        margin-bottom: 16px;
      }
      @include breakpoint(sm){
        column-gap: 14px;
        margin-bottom: 12px;
      }
    }


    &__svg-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #FF5A3C;
      border-radius: 50%;
      width: 28px;
      height: 28px;
      min-width: 28px;
      @include breakpoint(sm){
        width: 22px;
        height: 22px;
        min-width: 22px;
      }
      svg{
        width: 15px;
        height: auto;
        @include breakpoint(sm){
          width: 11px;
        }
      }
    }

    &__title {
      font-family: 'Lato', sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 1.2;
      color: $mainColor;
      @include fluid-type(380px, $maxWidth, 18px,24px)
    }

    &__desc {
      font-family: 'Nunito Sans', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 160%;
      color: #9F9F9F;
      @include fluid-type(380px, $maxWidth, 14px, 18px);
      @include breakpoint(sm){
        font-family: 'Outfit', sans-serif;
        line-height: 150%;
      }
    }
  }


}

/*######### ACTIVITY END ###########*/

/*######### REVIEW ###########*/

.review {
  //overflow: hidden;
  background-color: #fff;
  .content{
    overflow: hidden;
    position: relative;
  }
  &__row {
    padding:64px 105px 125px;


    @include breakpoint(lg){
      padding: 60px 45px ;
    }
    @include breakpoint(md){
      padding-bottom: 80px;
      padding-top: 80px;
    }
    @include breakpoint(sm){
      padding: 40px 24px 100px;
    }
    @include breakpoint(xs){
      padding-left: 15px;
      padding-right: 15px;
    }

  }
  &__slider-nav{
    max-width: 782px;
    display: flex;
    justify-content: space-between;
    width: 55vw;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform:translate(-50%, 100%);
    padding-top: 10px;
    @include breakpoint(sm){
      padding-top: 20px;
    }
  }
  &__slider-btn{
    background-color: unset;
    transition: .3s ease-in-out;
    position: relative;
    z-index: 10;
    svg{
      width: 32px;
      height: auto;
      transition: .1s ease-in;

      @include breakpoint(md){
        width: 24px;
      }

      @include breakpoint(sm){
        width: 17px;
      }
      path{
        transition: .3s ease-in-out;
      }
    }
    &:hover{

      svg{
        path{
          fill: #FF5A3C;
        }
        //transform:scale(1.1);
      }
    }
    &:active{
      svg{
        transform: translateY(3px);
      }
    }
  }
  &__btn-next{

  }
  &__btn-prev{

  }

  &__header {
    display: flex;
    flex-direction: column;
    row-gap: 9px;
    margin-bottom: 52px;
    @include breakpoint(lg){
      margin-bottom: 45px;
    }
    @include breakpoint(md){
      margin-bottom: 35px;
    }
    @include breakpoint(sm){
      column-gap: 12px;
      margin-bottom: 27px;
    }
  }

  &__title {
    text-align: center;
  }

  &__desc {
    max-width: 570px;
    margin: 0 auto;
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    text-align: center;
    color: #6B6B6B;
    @include fluid-type(380px, $maxWidth, 14px, 18px);
  }

  &__slider {
    position: relative;
  }

  &__slider-inner {
  }


  &__slide-inner {
  }

  .customer {


    &__img-wrapper {
      width: 168px;
      height: 168px;
      margin: 0 auto;
      position: relative;
      border-radius: 50%;
      overflow: hidden;
      @include breakpoint(sm){
        width: 104px;
        height: 104px;
      }
    }

    &__picture {
      position: absolute;
      left: 50%;
      top: 50%;
      transform:translate(-50%, -50%) rotate(-15deg);
      object-fit: cover;

      &--green{
        background-color: #00C194;
      }
      &--red{
        background-color: #FFC3AF;
      }
      &--yellow{
        background-color: #FFF0B8;
      }
    }

    &__txt {

    }

    &__name {
      margin-bottom: 11px;
      margin-top: 32px;
      font-family: 'Lato', sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 130%;
      text-align: center;
      color: #082854;
      @include fluid-type(380px, $maxWidth, 18px, 24px);
      @include breakpoint(sm){
        color: $mainColor;
      }

      @include breakpoint(sm){
        margin-top: 31px;
        margin-bottom: 10px;
      }
    }

    &__mark {
      display: flex;
      column-gap: 9px;
      margin: 0 auto;
      width: fit-content;
      @include breakpoint(sm){
        column-gap: 6px;
      }
    }

    &__star-wrapper {
      display: flex;
      svg{
        width: 21px;
        height: auto;

        @include breakpoint(sm){
          width: 15px;
        }
      }
    }

    &__star-wrapper--empty {
      svg{
        path{
          fill: #D8DAE1;
        }
      }
    }

    &__review-msg {
      margin-top: 38px;
      text-align: center;
      font-family: 'Lato', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 160%;
      color: #6B7E98;
      @include fluid-type(576px, 768px, 12px, 14px);
      @include breakpoint(sm){
        display: none;
      }
    }
  }

  .swiper-slider {
  }
  .swiper-wrapper {
    //display: flex;
  }
  .swiper-slide {
    &-next,&-prev{
      width: 29% !important;
      @include breakpoint(md){
        width: 25% !important;
      }

    }
    &-next{
      @include breakpoint(sm){
        .customer__img-wrapper{
          margin: 0 0 0 auto;
        }
      }
    }

    &-prev{
      @include breakpoint(sm){
        .customer__img-wrapper {
          margin: 0 auto 0 0;
        }
      }
    }

    &:not(.swiper-slide-active){
      height: auto;
      //flex: 1;

      @include breakpoint(sm){
        //flex: unset;
        //width: fit-content !important;
      }
      .customer{
        margin: auto;
        top: 50%;
        position: relative;
        transform: translateY(-50%);
      }
      .customer__txt{
        display: none;
      }
      .customer__img-wrapper{
        width: 89px;
        height: 89px;
        border: 2px solid #FFFFFF;
        box-shadow: 6px 8.5px 15px rgba(108, 126, 147, 0.1);
        @include breakpoint(sm){
          width: 45px;
          height: 45px;
        }
      }
    }

    &-active{
      width: 42% !important;
      //max-width: 422px;
      @include breakpoint(md){
        width: 50% !important;
      }
      @include breakpoint(sm){
        //width: 80% !important;
        //flex: 1;
      }
      .customer{
        position: relative;
        transform: translateY(0);
      }
    }

    @include breakpoint(sm){
      &.swiper-slide-prev{
        .customer{
          .customer__img-wrapper{
          //margin: 0 0 0 auto;
          }
        }
      }
      &.swiper-slide-next{
        .customer{
          .customer__img-wrapper{
            //margin: 0 auto 0 0;
          }
        }
      }
    }
  }
  &__circle{
    border-radius: 50%;
    position: absolute;
    z-index: -1;
    &--orange{
      width: 29px;
      height: 29px;
      background-color: #FF8701;
      top: 303px;
      left: 196px;
      @include breakpoint(xl){
        top: 21%;
        left: 14%;
      }
      @include breakpoint(md){
        left: 5%;
        width: 16px;
        height: 16px;
      }
    }
    &--green{
      background-color: #189877;
      width: 12px;
      height: 12px;
      left: 100px;
      bottom: 228px;
      @include breakpoint(xl){
        left: 14%;
        bottom: 16%;
      }
      @include breakpoint(md){
        width: 9px;
        height: 9px;
      }
      @include breakpoint(xs38){
        width: 4px;
        height: 4px;
      }
    }
    &--blue{
      background-color: #32A7E2;
      width: 8px;
      height: 8px;
      left: 272px;
      bottom: 71px;
      @include breakpoint(xl){
        left: 19%;
        bottom: 5%;
      }
    }
    &--cyan{
      background-color: #00D0D0;
      width: 8px;
      height: 8px;
      left: 462px;
      bottom: 57px;
      @include breakpoint(xl){
        left: 33%;
        bottom: 4%;
      }
    }
    &--tomato{
      background-color: #FF5A3C;
      width: 18px;
      height: 18px;
      right: 500px;
      bottom: 90px;
      @include breakpoint(xl){
        right: 35%;
        bottom: 6%;
      }
      @include breakpoint(md){
        width: 14px;
        height: 14px;
      }
    }
    &--yellow{
      background-color: #FFBF47;
      width: 8px;
      height: 8px;
      right: 263px;
      bottom: 196px;
      @include breakpoint(xl){
        right: 18%;
        bottom: 14%;
      }
    }
    &--red{
      background-color: #FF5A3C;
      width: 19px;
      height: 19px;
      top: 300px;
      right: 300px;
      @include breakpoint(xl){
        top: 12%;
        right: 21%;
      }
      @include breakpoint(md){
        width: 14px;
        height: 14px;
      }
    }
    &--golden{
      background-color: #FFBF47;
      width: 19px;
      height: 19px;
      right: 163px;
      bottom: 228px;
      @include breakpoint(xl){
        right: 12%;
        bottom:16%;
      }
      @include breakpoint(md){
        bottom: 25%;
        width: 14px;
        height: 14px;
      }
    }
  }
}

/*######### REVIEW END ###########*/

