.modal__window{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .6);
  z-index: 10;
  display:none;
}

.modal__close{
  cursor: pointer;
  position: absolute;
  right: 15px;
  top: 15px;
}
.modal__content{
  position: relative;
  width: 400px;
  height:300px;
  background-color: #fff;
  margin: 0 auto;
  animation-name:showModal;
  animation-duration: .4s;
  animation-timing-function: linear;
}

.modal{
  &.active{
    .modal__window{
      animation-name:modalWindow;
      animation-duration:.2s;
      display:block;
    }
  }
}

/*
@keyframes modalWindow{
  from{transform:scale(0);}
  to{transform:scale(1);}
}*/

@keyframes showModal{
  from{
    transform: scale(0.1);
  }
  to{
    transform: scale(1);
  }
}