/*NAVIGATION*/
$navBreakpoint: md;
/*NAVIGATION*/

/*CONTENT*/
$maxWidth: 1400px;
/*CONTENT*/

/*FONTS*/

$gilroyPath: '../fonts/Gilroy/';
$AirbnbPath: '../fonts/Aribnb/';
/*FONTS*/

$mainColor: #000;
$secondaryColor: #9f9f9f;

