.radio__item{
  display: flex;
  align-items:center;
  column-gap:20px;

  .radio__input{
    display: none;


    &:checked + .fake:before {
      opacity:1;
    }
  }

  .fake{
    display:inline-block;
    width: 44px;
    height: 44px;
    border: 6px solid black;
    border-radius: 50%;
    position: relative;
    cursor: pointer;

    &:before{
      content:'';
      position: absolute;
      border-radius:50%;
      width: 32px;
      height: 32px;
      background-color: #1EEBCD;
      top: 50%;
      left: 50%;
      transform:translate(-50%,-50%);
      display:block;
      opacity:0;
      transition: .3s;
    }
  }
}



.checkbox__item{
  display: flex;
  align-items:center;
  column-gap:20px;
  user-select: none;


  .checkbox__input{
    display: none;

    &:checked + .fake:before {
      opacity:1;
    }
  }

  .fake{
    display:inline-block;
    width: 44px;
    height: 44px;
    border: 6px solid black;
    position: relative;
    cursor: pointer;

    &:before{
      content:'';
      position: absolute;
      width: 16px;
      height: 16px;
      background-color: #1EEBCD;
      top: 50%;
      left: 50%;
      transform:translate(-50%,-50%);
      display:block;
      opacity:0;
      transition: .3s;
    }
  }
}

