<section class="catalog" >
    <div class="content">
        <div class="catalog__row">
            <header class="catalog__header">
                <h2 class="catalog__title title-glob">
                    Our Listing Property
                </h2>
                <p class="catalog__desc">
                    We are recognized for exceeding client expectations and delivering great results through dedication.
                </p>
            </header>
            <div class="catalog__cards">
                <div class="catalog__card card">
                    <a href="#" class="card__img-outer">
                        <div class="card__img-inner">
                            <img src="img/flat-1.jpg" alt="Flat" class="card__img">
                            <p class="card__location">New York, USA</p>
                        </div>
                    </a>
                    <div class="card__body">
                        <div class="card__price-outer">
                            <p class="card__price">$150,000</p>
                            <p class="card__tags">
                                <a href="#" class="card__tag tag card__tag--network">
                                    <span class="tag__svg-wrapper">
                                        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M6.65028 4.84886V2.52028C7.19509 2.3803 7.5989 1.88497 7.5989 1.29706C7.5989 0.60076 7.03245 0.0343018 6.33614 0.0343018C5.63989 0.0343018 5.07343 0.60076 5.07343 1.29706C5.07343 1.88497 5.47724 2.38026 6.02201 2.52024V4.84882C5.36126 4.94825 4.80025 5.35626 4.49085 5.92096L3.10905 4.84676C3.14285 4.75164 3.16141 4.64932 3.16141 4.54276C3.16141 4.04055 2.75281 3.63196 2.25061 3.63196C1.7484 3.63196 1.33981 4.04055 1.33981 4.54276C1.33981 5.04497 1.7484 5.45356 2.25061 5.45356C2.41698 5.45356 2.57292 5.40849 2.70729 5.33029L4.26919 6.5445C4.24615 6.66895 4.2335 6.79695 4.2335 6.92797C4.2335 7.39457 4.38647 7.82599 4.64461 8.17519L2.8786 9.9412C2.75591 10.0639 2.75591 10.2628 2.8786 10.3854C2.93996 10.4468 3.02038 10.4775 3.10076 10.4775C3.18113 10.4775 3.26155 10.4468 3.32292 10.3854L5.08893 8.61942C5.35821 8.8185 5.67641 8.95501 6.02201 9.00703V11.3408C5.67411 11.4691 5.42535 11.8039 5.42535 12.1957C5.42535 12.6979 5.83394 13.1065 6.33614 13.1065C6.83835 13.1065 7.24694 12.6979 7.24694 12.1957C7.24694 11.8038 6.99818 11.469 6.65028 11.3408V9.00707C7.66123 8.85499 8.43879 7.98063 8.43879 6.92801C8.43879 5.8753 7.66119 5.00094 6.65028 4.84886ZM2.25061 4.82532C2.0948 4.82532 1.96809 4.69857 1.96809 4.5428C1.96809 4.38703 2.0948 4.26029 2.25061 4.26029C2.40642 4.26029 2.53313 4.38703 2.53313 4.5428C2.53313 4.69857 2.40638 4.82532 2.25061 4.82532ZM5.70167 1.29706C5.70167 0.947194 5.98628 0.662582 6.3361 0.662582C6.68593 0.662582 6.97058 0.947194 6.97058 1.29706C6.97058 1.64693 6.68593 1.93154 6.3361 1.93154C5.98628 1.93154 5.70167 1.64693 5.70167 1.29706ZM6.33614 12.4782C6.18033 12.4782 6.05363 12.3515 6.05363 12.1957C6.05363 12.0594 6.15068 11.9453 6.27935 11.9189C6.29778 11.9223 6.31671 11.9243 6.33614 11.9243C6.35558 11.9243 6.37451 11.9223 6.39294 11.9189C6.52161 11.9453 6.61866 12.0594 6.61866 12.1957C6.61866 12.3515 6.49192 12.4782 6.33614 12.4782ZM6.33614 8.40229C5.52319 8.40229 4.86182 7.74088 4.86182 6.92792C4.86182 6.78447 4.88281 6.64587 4.92118 6.51464C4.92323 6.50815 4.92515 6.5017 4.92675 6.49512C5.11209 5.89273 5.67373 5.45356 6.33614 5.45356C7.1491 5.45356 7.81051 6.11497 7.81051 6.92792C7.81051 7.74092 7.1491 8.40229 6.33614 8.40229Z" fill="#1B70BB"/>
                                        <path d="M12.554 3.87543C11.8577 3.87543 11.2913 4.44189 11.2913 5.13819C11.2913 5.17065 11.2929 5.2027 11.2953 5.23453L9.02358 6.00912C8.85935 6.06508 8.7716 6.24364 8.8276 6.40783C8.87212 6.53847 8.99417 6.62069 9.1249 6.62069C9.15853 6.62069 9.19271 6.61525 9.2263 6.60381L11.498 5.82926C11.7238 6.17323 12.1127 6.401 12.5541 6.401C13.2503 6.401 13.8168 5.83454 13.8168 5.13824C13.8168 4.44193 13.2503 3.87543 12.554 3.87543ZM12.554 5.77272C12.2042 5.77272 11.9196 5.48811 11.9196 5.13824C11.9196 4.78837 12.2042 4.50375 12.554 4.50375C12.9039 4.50375 13.1885 4.78837 13.1885 5.13824C13.1885 5.48806 12.9039 5.77272 12.554 5.77272Z" fill="#1B70BB"/>
                                        <path d="M1.65397 10.3476C0.957663 10.3476 0.391205 10.9141 0.391205 11.6104C0.391205 12.3067 0.957663 12.8731 1.65397 12.8731C2.35023 12.8731 2.91668 12.3067 2.91668 11.6104C2.91673 10.9141 2.35023 10.3476 1.65397 10.3476ZM1.65397 12.2449C1.3041 12.2449 1.01949 11.9603 1.01949 11.6104C1.01949 11.2605 1.30414 10.9759 1.65397 10.9759C2.00379 10.9759 2.2884 11.2605 2.2884 11.6104C2.28845 11.9602 2.00383 12.2449 1.65397 12.2449Z" fill="#1B70BB"/>
                                        </svg>
                                    </span>
                                    <span class="tag__txt">
                                        4 Network
                                    </span>
                                </a>

                                <a href="#" class="card__tag tag card__tag--family">
                                    <span class="tag__svg-wrapper">
                                        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <g clip-path="url(#clip0_150_6282)">
                                        <path d="M9.99621 11.7819V10.6631C9.99621 10.0697 9.76047 9.50054 9.34084 9.08091C8.92121 8.66128 8.35206 8.42554 7.75862 8.42554H3.28343C2.68998 8.42554 2.12084 8.66128 1.70121 9.08091C1.28158 9.50054 1.04584 10.0697 1.04584 10.6631V11.7819" stroke="#FF8700" stroke-width="0.839098" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path d="M5.52153 6.1879C6.75732 6.1879 7.75912 5.18609 7.75912 3.9503C7.75912 2.71451 6.75732 1.71271 5.52153 1.71271C4.28574 1.71271 3.28394 2.71451 3.28394 3.9503C3.28394 5.18609 4.28574 6.1879 5.52153 6.1879Z" stroke="#FF8700" stroke-width="0.839098" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path d="M13.3528 11.7821V10.6633C13.3525 10.1675 13.1875 9.68589 12.8837 9.29405C12.58 8.90222 12.1547 8.62236 11.6747 8.49841" stroke="#FF8700" stroke-width="0.839098" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path d="M9.43707 1.78564C9.91839 1.90888 10.345 2.1888 10.6496 2.58128C10.9543 2.97376 11.1197 3.45647 11.1197 3.95331C11.1197 4.45016 10.9543 4.93287 10.6496 5.32534C10.345 5.71782 9.91839 5.99775 9.43707 6.12098" stroke="#FF8700" stroke-width="0.839098" stroke-linecap="round" stroke-linejoin="round"/>
                                        </g>
                                        <defs>
                                        <clipPath id="clip0_150_6282">
                                        <rect width="13.4256" height="13.4256" fill="white" transform="translate(0.486511 0.0349731)"/>
                                        </clipPath>
                                        </defs>
                                        </svg>
                                    </span>
                                    <span class="tag__txt">
                                       Family
                                    </span>
                                </a>
                            </p>
                        </div>

                        <div class="card__rooms-info room-info">
                            <div class="room-info__block">
                                <span class="room-info__svg-wrapper">
                                <svg viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect x="2.79956" y="11.7217" width="1.4" height="2.8" fill="#2EC1AC"/>
                                <rect x="9.79999" y="11.7217" width="1.4" height="2.8" fill="#2EC1AC"/>
                                <path d="M0.419549 6.54116H13.5805V7.38703C13.5805 9.93585 11.5142 12.0021 8.96543 12.0021H5.03459C2.48578 12.0021 0.419549 9.93585 0.419549 7.38703V6.54116Z" stroke="#2EC1AC" stroke-width="0.839098"/>
                                <rect x="2.09985" y="3.32108" width="1.4" height="2.8" fill="#2EC1AC"/>
                                <rect x="6.29993" y="3.32108" width="1.4" height="0.700001" fill="#2EC1AC"/>
                                <path d="M7.7001 3.32167C7.7001 2.95397 7.62768 2.58987 7.48696 2.25016C7.34625 1.91044 7.14 1.60177 6.88 1.34177C6.62 1.08176 6.31133 0.875518 5.97161 0.734805C5.6319 0.594092 5.2678 0.521667 4.9001 0.521667C4.5324 0.521667 4.1683 0.594092 3.82859 0.734805C3.48887 0.875518 3.1802 1.08176 2.9202 1.34177C2.66019 1.60177 2.45395 1.91044 2.31324 2.25016C2.17252 2.58987 2.1001 2.95397 2.1001 3.32167L3.50181 3.32167C3.50181 3.13804 3.53797 2.95621 3.60825 2.78657C3.67852 2.61692 3.78151 2.46277 3.91136 2.33293C4.0412 2.20308 4.19535 2.10009 4.365 2.02982C4.53464 1.95954 4.71647 1.92338 4.9001 1.92338C5.08373 1.92338 5.26555 1.95954 5.4352 2.02982C5.60485 2.10009 5.759 2.20308 5.88884 2.33293C6.01869 2.46277 6.12168 2.61692 6.19195 2.78657C6.26222 2.95621 6.29839 3.13804 6.29839 3.32167H7.7001Z" fill="#2EC1AC"/>
                                </svg>
                              </span>
                                <p class="room-info__txt">
                                  <span class="room-info__value">2</span>
                                  <span class="room-info__desc">bathroom</span>
                                </p>
                            </div>

                            <div class="room-info__block">
                                <span class="room-info__svg-wrapper">
                                <svg viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect x="2.79929" y="11.3313" width="1.40001" height="3.50002" fill="#2EC1AC"/>
                                    <rect x="2.79929" y="0.831299" width="1.40001" height="5.60003" fill="#2EC1AC"/>
                                    <rect x="11.2" y="2.23151" width="1.40001" height="8.40004" transform="rotate(90 11.2 2.23151)" fill="#2EC1AC"/>
                                    <rect x="7.69986" y="7.13144" width="1.40001" height="4.20002" transform="rotate(-180 7.69986 7.13144)" fill="#2EC1AC"/>
                                    <rect x="9.79974" y="11.3313" width="1.40001" height="3.50002" fill="#2EC1AC"/>
                                    <rect x="9.79974" y="0.831299" width="1.40001" height="5.60003" fill="#2EC1AC"/>
                                    <path d="M13.5805 11.1923C13.5805 11.424 13.3927 11.6118 13.161 11.6118L0.839092 11.6118C0.607381 11.6118 0.419542 11.424 0.419542 11.1923L0.419542 10.7659C0.419543 8.21711 2.48577 6.15089 5.03458 6.15089L8.96547 6.15089C11.5143 6.15089 13.5805 8.21711 13.5805 10.7659L13.5805 11.1923Z" stroke="#2EC1AC" stroke-width="0.839098"/>
                                </svg>
                              </span>
                                <p class="room-info__txt">
                                    <span class="room-info__value">2</span>
                                    <span class="room-info__desc">bedroom</span>
                                </p>
                            </div>

                            <div class="room-info__block">
                                <span class="room-info__svg-wrapper">
                                    <svg viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M11.9003 7.0002L7.00026 2.10016L4.55024 4.55018L2.10022 7.0002L4.55024 9.45022L7.00026 11.9002L9.45029 9.45022L11.9003 7.0002Z" stroke="#2EC1AC" stroke-width="0.839098"/>
                                    <circle cx="2.10002" cy="6.99998" r="1.68047" fill="white" stroke="#2EC1AC" stroke-width="0.839098"/>
                                    <circle cx="6.99986" cy="2.10002" r="1.68047" fill="white" stroke="#2EC1AC" stroke-width="0.839098"/>
                                    <circle cx="11.9002" cy="6.99998" r="1.68047" fill="white" stroke="#2EC1AC" stroke-width="0.839098"/>
                                    <circle cx="6.99986" cy="11.8999" r="1.68047" fill="white" stroke="#2EC1AC" stroke-width="0.839098"/>
                                    </svg>
                              </span>
                                <p class="room-info__txt">
                                    <span class="room-info__value">1200</span>
                                    <span class="room-info__desc">Sq. Fit</span>
                                </p>
                            </div>


                        </div>
                    </div>
                    <div class="card__footer">
                        <div class="card__realtor realtor">
                            <div class="realtor__img-outer">
                                <img src="img/realtor.png" alt="Realtor" class="realtor__photo">
                            </div>
                            <p class="realtor__name">Adams Justin</p>
                        </div>
                        <a href="" class="card__more-btn btn-glob">View More </a>
                    </div>
                </div>

                <div class="catalog__card card">
                    <a href="#" class="card__img-outer">
                        <div class="card__img-inner">
                            <img src="img/flat-1.jpg" alt="Flat" class="card__img">
                            <p class="card__location">New York, USA</p>
                        </div>
                    </a>
                    <div class="card__body">
                        <div class="card__price-outer">
                            <p class="card__price">$150,000</p>
                            <p class="card__tags">
                                <a href="#" class="card__tag tag card__tag--network">
                                    <span class="tag__svg-wrapper">
                                        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M6.65028 4.84886V2.52028C7.19509 2.3803 7.5989 1.88497 7.5989 1.29706C7.5989 0.60076 7.03245 0.0343018 6.33614 0.0343018C5.63989 0.0343018 5.07343 0.60076 5.07343 1.29706C5.07343 1.88497 5.47724 2.38026 6.02201 2.52024V4.84882C5.36126 4.94825 4.80025 5.35626 4.49085 5.92096L3.10905 4.84676C3.14285 4.75164 3.16141 4.64932 3.16141 4.54276C3.16141 4.04055 2.75281 3.63196 2.25061 3.63196C1.7484 3.63196 1.33981 4.04055 1.33981 4.54276C1.33981 5.04497 1.7484 5.45356 2.25061 5.45356C2.41698 5.45356 2.57292 5.40849 2.70729 5.33029L4.26919 6.5445C4.24615 6.66895 4.2335 6.79695 4.2335 6.92797C4.2335 7.39457 4.38647 7.82599 4.64461 8.17519L2.8786 9.9412C2.75591 10.0639 2.75591 10.2628 2.8786 10.3854C2.93996 10.4468 3.02038 10.4775 3.10076 10.4775C3.18113 10.4775 3.26155 10.4468 3.32292 10.3854L5.08893 8.61942C5.35821 8.8185 5.67641 8.95501 6.02201 9.00703V11.3408C5.67411 11.4691 5.42535 11.8039 5.42535 12.1957C5.42535 12.6979 5.83394 13.1065 6.33614 13.1065C6.83835 13.1065 7.24694 12.6979 7.24694 12.1957C7.24694 11.8038 6.99818 11.469 6.65028 11.3408V9.00707C7.66123 8.85499 8.43879 7.98063 8.43879 6.92801C8.43879 5.8753 7.66119 5.00094 6.65028 4.84886ZM2.25061 4.82532C2.0948 4.82532 1.96809 4.69857 1.96809 4.5428C1.96809 4.38703 2.0948 4.26029 2.25061 4.26029C2.40642 4.26029 2.53313 4.38703 2.53313 4.5428C2.53313 4.69857 2.40638 4.82532 2.25061 4.82532ZM5.70167 1.29706C5.70167 0.947194 5.98628 0.662582 6.3361 0.662582C6.68593 0.662582 6.97058 0.947194 6.97058 1.29706C6.97058 1.64693 6.68593 1.93154 6.3361 1.93154C5.98628 1.93154 5.70167 1.64693 5.70167 1.29706ZM6.33614 12.4782C6.18033 12.4782 6.05363 12.3515 6.05363 12.1957C6.05363 12.0594 6.15068 11.9453 6.27935 11.9189C6.29778 11.9223 6.31671 11.9243 6.33614 11.9243C6.35558 11.9243 6.37451 11.9223 6.39294 11.9189C6.52161 11.9453 6.61866 12.0594 6.61866 12.1957C6.61866 12.3515 6.49192 12.4782 6.33614 12.4782ZM6.33614 8.40229C5.52319 8.40229 4.86182 7.74088 4.86182 6.92792C4.86182 6.78447 4.88281 6.64587 4.92118 6.51464C4.92323 6.50815 4.92515 6.5017 4.92675 6.49512C5.11209 5.89273 5.67373 5.45356 6.33614 5.45356C7.1491 5.45356 7.81051 6.11497 7.81051 6.92792C7.81051 7.74092 7.1491 8.40229 6.33614 8.40229Z" fill="#1B70BB"/>
                                        <path d="M12.554 3.87543C11.8577 3.87543 11.2913 4.44189 11.2913 5.13819C11.2913 5.17065 11.2929 5.2027 11.2953 5.23453L9.02358 6.00912C8.85935 6.06508 8.7716 6.24364 8.8276 6.40783C8.87212 6.53847 8.99417 6.62069 9.1249 6.62069C9.15853 6.62069 9.19271 6.61525 9.2263 6.60381L11.498 5.82926C11.7238 6.17323 12.1127 6.401 12.5541 6.401C13.2503 6.401 13.8168 5.83454 13.8168 5.13824C13.8168 4.44193 13.2503 3.87543 12.554 3.87543ZM12.554 5.77272C12.2042 5.77272 11.9196 5.48811 11.9196 5.13824C11.9196 4.78837 12.2042 4.50375 12.554 4.50375C12.9039 4.50375 13.1885 4.78837 13.1885 5.13824C13.1885 5.48806 12.9039 5.77272 12.554 5.77272Z" fill="#1B70BB"/>
                                        <path d="M1.65397 10.3476C0.957663 10.3476 0.391205 10.9141 0.391205 11.6104C0.391205 12.3067 0.957663 12.8731 1.65397 12.8731C2.35023 12.8731 2.91668 12.3067 2.91668 11.6104C2.91673 10.9141 2.35023 10.3476 1.65397 10.3476ZM1.65397 12.2449C1.3041 12.2449 1.01949 11.9603 1.01949 11.6104C1.01949 11.2605 1.30414 10.9759 1.65397 10.9759C2.00379 10.9759 2.2884 11.2605 2.2884 11.6104C2.28845 11.9602 2.00383 12.2449 1.65397 12.2449Z" fill="#1B70BB"/>
                                        </svg>
                                    </span>
                                    <span class="tag__txt">
                                        4 Network
                                    </span>
                                </a>

                                <a href="#" class="card__tag tag card__tag--family">
                                    <span class="tag__svg-wrapper">
                                        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <g clip-path="url(#clip0_150_6282)">
                                        <path d="M9.99621 11.7819V10.6631C9.99621 10.0697 9.76047 9.50054 9.34084 9.08091C8.92121 8.66128 8.35206 8.42554 7.75862 8.42554H3.28343C2.68998 8.42554 2.12084 8.66128 1.70121 9.08091C1.28158 9.50054 1.04584 10.0697 1.04584 10.6631V11.7819" stroke="#FF8700" stroke-width="0.839098" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path d="M5.52153 6.1879C6.75732 6.1879 7.75912 5.18609 7.75912 3.9503C7.75912 2.71451 6.75732 1.71271 5.52153 1.71271C4.28574 1.71271 3.28394 2.71451 3.28394 3.9503C3.28394 5.18609 4.28574 6.1879 5.52153 6.1879Z" stroke="#FF8700" stroke-width="0.839098" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path d="M13.3528 11.7821V10.6633C13.3525 10.1675 13.1875 9.68589 12.8837 9.29405C12.58 8.90222 12.1547 8.62236 11.6747 8.49841" stroke="#FF8700" stroke-width="0.839098" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path d="M9.43707 1.78564C9.91839 1.90888 10.345 2.1888 10.6496 2.58128C10.9543 2.97376 11.1197 3.45647 11.1197 3.95331C11.1197 4.45016 10.9543 4.93287 10.6496 5.32534C10.345 5.71782 9.91839 5.99775 9.43707 6.12098" stroke="#FF8700" stroke-width="0.839098" stroke-linecap="round" stroke-linejoin="round"/>
                                        </g>
                                        <defs>
                                        <clipPath id="clip0_150_6282">
                                        <rect width="13.4256" height="13.4256" fill="white" transform="translate(0.486511 0.0349731)"/>
                                        </clipPath>
                                        </defs>
                                        </svg>
                                    </span>
                                    <span class="tag__txt">
                                       Family
                                    </span>
                                </a>
                            </p>
                        </div>

                        <div class="card__rooms-info room-info">
                            <div class="room-info__block">
                                <span class="room-info__svg-wrapper">
                                <svg viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect x="2.79956" y="11.7217" width="1.4" height="2.8" fill="#2EC1AC"/>
                                <rect x="9.79999" y="11.7217" width="1.4" height="2.8" fill="#2EC1AC"/>
                                <path d="M0.419549 6.54116H13.5805V7.38703C13.5805 9.93585 11.5142 12.0021 8.96543 12.0021H5.03459C2.48578 12.0021 0.419549 9.93585 0.419549 7.38703V6.54116Z" stroke="#2EC1AC" stroke-width="0.839098"/>
                                <rect x="2.09985" y="3.32108" width="1.4" height="2.8" fill="#2EC1AC"/>
                                <rect x="6.29993" y="3.32108" width="1.4" height="0.700001" fill="#2EC1AC"/>
                                <path d="M7.7001 3.32167C7.7001 2.95397 7.62768 2.58987 7.48696 2.25016C7.34625 1.91044 7.14 1.60177 6.88 1.34177C6.62 1.08176 6.31133 0.875518 5.97161 0.734805C5.6319 0.594092 5.2678 0.521667 4.9001 0.521667C4.5324 0.521667 4.1683 0.594092 3.82859 0.734805C3.48887 0.875518 3.1802 1.08176 2.9202 1.34177C2.66019 1.60177 2.45395 1.91044 2.31324 2.25016C2.17252 2.58987 2.1001 2.95397 2.1001 3.32167L3.50181 3.32167C3.50181 3.13804 3.53797 2.95621 3.60825 2.78657C3.67852 2.61692 3.78151 2.46277 3.91136 2.33293C4.0412 2.20308 4.19535 2.10009 4.365 2.02982C4.53464 1.95954 4.71647 1.92338 4.9001 1.92338C5.08373 1.92338 5.26555 1.95954 5.4352 2.02982C5.60485 2.10009 5.759 2.20308 5.88884 2.33293C6.01869 2.46277 6.12168 2.61692 6.19195 2.78657C6.26222 2.95621 6.29839 3.13804 6.29839 3.32167H7.7001Z" fill="#2EC1AC"/>
                                </svg>
                              </span>
                                <p class="room-info__txt">
                                    <span class="room-info__value">2</span>
                                    <span class="room-info__desc">bathroom</span>
                                </p>
                            </div>

                            <div class="room-info__block">
                                <span class="room-info__svg-wrapper">
                                <svg viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect x="2.79929" y="11.3313" width="1.40001" height="3.50002" fill="#2EC1AC"/>
                                    <rect x="2.79929" y="0.831299" width="1.40001" height="5.60003" fill="#2EC1AC"/>
                                    <rect x="11.2" y="2.23151" width="1.40001" height="8.40004" transform="rotate(90 11.2 2.23151)" fill="#2EC1AC"/>
                                    <rect x="7.69986" y="7.13144" width="1.40001" height="4.20002" transform="rotate(-180 7.69986 7.13144)" fill="#2EC1AC"/>
                                    <rect x="9.79974" y="11.3313" width="1.40001" height="3.50002" fill="#2EC1AC"/>
                                    <rect x="9.79974" y="0.831299" width="1.40001" height="5.60003" fill="#2EC1AC"/>
                                    <path d="M13.5805 11.1923C13.5805 11.424 13.3927 11.6118 13.161 11.6118L0.839092 11.6118C0.607381 11.6118 0.419542 11.424 0.419542 11.1923L0.419542 10.7659C0.419543 8.21711 2.48577 6.15089 5.03458 6.15089L8.96547 6.15089C11.5143 6.15089 13.5805 8.21711 13.5805 10.7659L13.5805 11.1923Z" stroke="#2EC1AC" stroke-width="0.839098"/>
                                </svg>
                              </span>
                                <p class="room-info__txt">
                                    <span class="room-info__value">2</span>
                                    <span class="room-info__desc">bedroom</span>
                                </p>
                            </div>

                            <div class="room-info__block">
                                <span class="room-info__svg-wrapper">
                                    <svg viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M11.9003 7.0002L7.00026 2.10016L4.55024 4.55018L2.10022 7.0002L4.55024 9.45022L7.00026 11.9002L9.45029 9.45022L11.9003 7.0002Z" stroke="#2EC1AC" stroke-width="0.839098"/>
                                    <circle cx="2.10002" cy="6.99998" r="1.68047" fill="white" stroke="#2EC1AC" stroke-width="0.839098"/>
                                    <circle cx="6.99986" cy="2.10002" r="1.68047" fill="white" stroke="#2EC1AC" stroke-width="0.839098"/>
                                    <circle cx="11.9002" cy="6.99998" r="1.68047" fill="white" stroke="#2EC1AC" stroke-width="0.839098"/>
                                    <circle cx="6.99986" cy="11.8999" r="1.68047" fill="white" stroke="#2EC1AC" stroke-width="0.839098"/>
                                    </svg>
                              </span>
                                <p class="room-info__txt">
                                    <span class="room-info__value">1200</span>
                                    <span class="room-info__desc">Sq. Fit</span>
                                </p>
                            </div>


                        </div>
                    </div>
                    <div class="card__footer">
                        <div class="card__realtor realtor">
                            <div class="realtor__img-outer">
                                <img src="img/realtor.png" alt="Realtor" class="realtor__photo">
                            </div>
                            <p class="realtor__name">Adams Justin</p>
                        </div>
                        <a href="" class="card__more-btn btn-glob">View More </a>
                    </div>
                </div>

                <div class="catalog__card card">
                    <a href="#" class="card__img-outer">
                        <div class="card__img-inner">
                            <img src="img/flat-1.jpg" alt="Flat" class="card__img">
                            <p class="card__location">New York, USA</p>
                        </div>
                    </a>
                    <div class="card__body">
                        <div class="card__price-outer">
                            <p class="card__price">$150,000</p>
                            <p class="card__tags">
                                <a href="#" class="card__tag tag card__tag--network">
                                    <span class="tag__svg-wrapper">
                                        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M6.65028 4.84886V2.52028C7.19509 2.3803 7.5989 1.88497 7.5989 1.29706C7.5989 0.60076 7.03245 0.0343018 6.33614 0.0343018C5.63989 0.0343018 5.07343 0.60076 5.07343 1.29706C5.07343 1.88497 5.47724 2.38026 6.02201 2.52024V4.84882C5.36126 4.94825 4.80025 5.35626 4.49085 5.92096L3.10905 4.84676C3.14285 4.75164 3.16141 4.64932 3.16141 4.54276C3.16141 4.04055 2.75281 3.63196 2.25061 3.63196C1.7484 3.63196 1.33981 4.04055 1.33981 4.54276C1.33981 5.04497 1.7484 5.45356 2.25061 5.45356C2.41698 5.45356 2.57292 5.40849 2.70729 5.33029L4.26919 6.5445C4.24615 6.66895 4.2335 6.79695 4.2335 6.92797C4.2335 7.39457 4.38647 7.82599 4.64461 8.17519L2.8786 9.9412C2.75591 10.0639 2.75591 10.2628 2.8786 10.3854C2.93996 10.4468 3.02038 10.4775 3.10076 10.4775C3.18113 10.4775 3.26155 10.4468 3.32292 10.3854L5.08893 8.61942C5.35821 8.8185 5.67641 8.95501 6.02201 9.00703V11.3408C5.67411 11.4691 5.42535 11.8039 5.42535 12.1957C5.42535 12.6979 5.83394 13.1065 6.33614 13.1065C6.83835 13.1065 7.24694 12.6979 7.24694 12.1957C7.24694 11.8038 6.99818 11.469 6.65028 11.3408V9.00707C7.66123 8.85499 8.43879 7.98063 8.43879 6.92801C8.43879 5.8753 7.66119 5.00094 6.65028 4.84886ZM2.25061 4.82532C2.0948 4.82532 1.96809 4.69857 1.96809 4.5428C1.96809 4.38703 2.0948 4.26029 2.25061 4.26029C2.40642 4.26029 2.53313 4.38703 2.53313 4.5428C2.53313 4.69857 2.40638 4.82532 2.25061 4.82532ZM5.70167 1.29706C5.70167 0.947194 5.98628 0.662582 6.3361 0.662582C6.68593 0.662582 6.97058 0.947194 6.97058 1.29706C6.97058 1.64693 6.68593 1.93154 6.3361 1.93154C5.98628 1.93154 5.70167 1.64693 5.70167 1.29706ZM6.33614 12.4782C6.18033 12.4782 6.05363 12.3515 6.05363 12.1957C6.05363 12.0594 6.15068 11.9453 6.27935 11.9189C6.29778 11.9223 6.31671 11.9243 6.33614 11.9243C6.35558 11.9243 6.37451 11.9223 6.39294 11.9189C6.52161 11.9453 6.61866 12.0594 6.61866 12.1957C6.61866 12.3515 6.49192 12.4782 6.33614 12.4782ZM6.33614 8.40229C5.52319 8.40229 4.86182 7.74088 4.86182 6.92792C4.86182 6.78447 4.88281 6.64587 4.92118 6.51464C4.92323 6.50815 4.92515 6.5017 4.92675 6.49512C5.11209 5.89273 5.67373 5.45356 6.33614 5.45356C7.1491 5.45356 7.81051 6.11497 7.81051 6.92792C7.81051 7.74092 7.1491 8.40229 6.33614 8.40229Z" fill="#1B70BB"/>
                                        <path d="M12.554 3.87543C11.8577 3.87543 11.2913 4.44189 11.2913 5.13819C11.2913 5.17065 11.2929 5.2027 11.2953 5.23453L9.02358 6.00912C8.85935 6.06508 8.7716 6.24364 8.8276 6.40783C8.87212 6.53847 8.99417 6.62069 9.1249 6.62069C9.15853 6.62069 9.19271 6.61525 9.2263 6.60381L11.498 5.82926C11.7238 6.17323 12.1127 6.401 12.5541 6.401C13.2503 6.401 13.8168 5.83454 13.8168 5.13824C13.8168 4.44193 13.2503 3.87543 12.554 3.87543ZM12.554 5.77272C12.2042 5.77272 11.9196 5.48811 11.9196 5.13824C11.9196 4.78837 12.2042 4.50375 12.554 4.50375C12.9039 4.50375 13.1885 4.78837 13.1885 5.13824C13.1885 5.48806 12.9039 5.77272 12.554 5.77272Z" fill="#1B70BB"/>
                                        <path d="M1.65397 10.3476C0.957663 10.3476 0.391205 10.9141 0.391205 11.6104C0.391205 12.3067 0.957663 12.8731 1.65397 12.8731C2.35023 12.8731 2.91668 12.3067 2.91668 11.6104C2.91673 10.9141 2.35023 10.3476 1.65397 10.3476ZM1.65397 12.2449C1.3041 12.2449 1.01949 11.9603 1.01949 11.6104C1.01949 11.2605 1.30414 10.9759 1.65397 10.9759C2.00379 10.9759 2.2884 11.2605 2.2884 11.6104C2.28845 11.9602 2.00383 12.2449 1.65397 12.2449Z" fill="#1B70BB"/>
                                        </svg>
                                    </span>
                                    <span class="tag__txt">
                                        4 Network
                                    </span>
                                </a>

                                <a href="#" class="card__tag tag card__tag--family">
                                    <span class="tag__svg-wrapper">
                                        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <g clip-path="url(#clip0_150_6282)">
                                        <path d="M9.99621 11.7819V10.6631C9.99621 10.0697 9.76047 9.50054 9.34084 9.08091C8.92121 8.66128 8.35206 8.42554 7.75862 8.42554H3.28343C2.68998 8.42554 2.12084 8.66128 1.70121 9.08091C1.28158 9.50054 1.04584 10.0697 1.04584 10.6631V11.7819" stroke="#FF8700" stroke-width="0.839098" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path d="M5.52153 6.1879C6.75732 6.1879 7.75912 5.18609 7.75912 3.9503C7.75912 2.71451 6.75732 1.71271 5.52153 1.71271C4.28574 1.71271 3.28394 2.71451 3.28394 3.9503C3.28394 5.18609 4.28574 6.1879 5.52153 6.1879Z" stroke="#FF8700" stroke-width="0.839098" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path d="M13.3528 11.7821V10.6633C13.3525 10.1675 13.1875 9.68589 12.8837 9.29405C12.58 8.90222 12.1547 8.62236 11.6747 8.49841" stroke="#FF8700" stroke-width="0.839098" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path d="M9.43707 1.78564C9.91839 1.90888 10.345 2.1888 10.6496 2.58128C10.9543 2.97376 11.1197 3.45647 11.1197 3.95331C11.1197 4.45016 10.9543 4.93287 10.6496 5.32534C10.345 5.71782 9.91839 5.99775 9.43707 6.12098" stroke="#FF8700" stroke-width="0.839098" stroke-linecap="round" stroke-linejoin="round"/>
                                        </g>
                                        <defs>
                                        <clipPath id="clip0_150_6282">
                                        <rect width="13.4256" height="13.4256" fill="white" transform="translate(0.486511 0.0349731)"/>
                                        </clipPath>
                                        </defs>
                                        </svg>
                                    </span>
                                    <span class="tag__txt">
                                       Family
                                    </span>
                                </a>
                            </p>
                        </div>

                        <div class="card__rooms-info room-info">
                            <div class="room-info__block">
                                <span class="room-info__svg-wrapper">
                                <svg viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect x="2.79956" y="11.7217" width="1.4" height="2.8" fill="#2EC1AC"/>
                                <rect x="9.79999" y="11.7217" width="1.4" height="2.8" fill="#2EC1AC"/>
                                <path d="M0.419549 6.54116H13.5805V7.38703C13.5805 9.93585 11.5142 12.0021 8.96543 12.0021H5.03459C2.48578 12.0021 0.419549 9.93585 0.419549 7.38703V6.54116Z" stroke="#2EC1AC" stroke-width="0.839098"/>
                                <rect x="2.09985" y="3.32108" width="1.4" height="2.8" fill="#2EC1AC"/>
                                <rect x="6.29993" y="3.32108" width="1.4" height="0.700001" fill="#2EC1AC"/>
                                <path d="M7.7001 3.32167C7.7001 2.95397 7.62768 2.58987 7.48696 2.25016C7.34625 1.91044 7.14 1.60177 6.88 1.34177C6.62 1.08176 6.31133 0.875518 5.97161 0.734805C5.6319 0.594092 5.2678 0.521667 4.9001 0.521667C4.5324 0.521667 4.1683 0.594092 3.82859 0.734805C3.48887 0.875518 3.1802 1.08176 2.9202 1.34177C2.66019 1.60177 2.45395 1.91044 2.31324 2.25016C2.17252 2.58987 2.1001 2.95397 2.1001 3.32167L3.50181 3.32167C3.50181 3.13804 3.53797 2.95621 3.60825 2.78657C3.67852 2.61692 3.78151 2.46277 3.91136 2.33293C4.0412 2.20308 4.19535 2.10009 4.365 2.02982C4.53464 1.95954 4.71647 1.92338 4.9001 1.92338C5.08373 1.92338 5.26555 1.95954 5.4352 2.02982C5.60485 2.10009 5.759 2.20308 5.88884 2.33293C6.01869 2.46277 6.12168 2.61692 6.19195 2.78657C6.26222 2.95621 6.29839 3.13804 6.29839 3.32167H7.7001Z" fill="#2EC1AC"/>
                                </svg>
                              </span>
                                <p class="room-info__txt">
                                    <span class="room-info__value">2</span>
                                    <span class="room-info__desc">bathroom</span>
                                </p>
                            </div>

                            <div class="room-info__block">
                                <span class="room-info__svg-wrapper">
                                <svg viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect x="2.79929" y="11.3313" width="1.40001" height="3.50002" fill="#2EC1AC"/>
                                    <rect x="2.79929" y="0.831299" width="1.40001" height="5.60003" fill="#2EC1AC"/>
                                    <rect x="11.2" y="2.23151" width="1.40001" height="8.40004" transform="rotate(90 11.2 2.23151)" fill="#2EC1AC"/>
                                    <rect x="7.69986" y="7.13144" width="1.40001" height="4.20002" transform="rotate(-180 7.69986 7.13144)" fill="#2EC1AC"/>
                                    <rect x="9.79974" y="11.3313" width="1.40001" height="3.50002" fill="#2EC1AC"/>
                                    <rect x="9.79974" y="0.831299" width="1.40001" height="5.60003" fill="#2EC1AC"/>
                                    <path d="M13.5805 11.1923C13.5805 11.424 13.3927 11.6118 13.161 11.6118L0.839092 11.6118C0.607381 11.6118 0.419542 11.424 0.419542 11.1923L0.419542 10.7659C0.419543 8.21711 2.48577 6.15089 5.03458 6.15089L8.96547 6.15089C11.5143 6.15089 13.5805 8.21711 13.5805 10.7659L13.5805 11.1923Z" stroke="#2EC1AC" stroke-width="0.839098"/>
                                </svg>
                              </span>
                                <p class="room-info__txt">
                                    <span class="room-info__value">2</span>
                                    <span class="room-info__desc">bedroom</span>
                                </p>
                            </div>

                            <div class="room-info__block">
                                <span class="room-info__svg-wrapper">
                                    <svg viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M11.9003 7.0002L7.00026 2.10016L4.55024 4.55018L2.10022 7.0002L4.55024 9.45022L7.00026 11.9002L9.45029 9.45022L11.9003 7.0002Z" stroke="#2EC1AC" stroke-width="0.839098"/>
                                    <circle cx="2.10002" cy="6.99998" r="1.68047" fill="white" stroke="#2EC1AC" stroke-width="0.839098"/>
                                    <circle cx="6.99986" cy="2.10002" r="1.68047" fill="white" stroke="#2EC1AC" stroke-width="0.839098"/>
                                    <circle cx="11.9002" cy="6.99998" r="1.68047" fill="white" stroke="#2EC1AC" stroke-width="0.839098"/>
                                    <circle cx="6.99986" cy="11.8999" r="1.68047" fill="white" stroke="#2EC1AC" stroke-width="0.839098"/>
                                    </svg>
                              </span>
                                <p class="room-info__txt">
                                    <span class="room-info__value">1200</span>
                                    <span class="room-info__desc">Sq. Fit</span>
                                </p>
                            </div>


                        </div>
                    </div>
                    <div class="card__footer">
                        <div class="card__realtor realtor">
                            <div class="realtor__img-outer">
                                <img src="img/realtor.png" alt="Realtor" class="realtor__photo">
                            </div>
                            <p class="realtor__name">Adams Justin</p>
                        </div>
                        <a href="" class="card__more-btn btn-glob">View More </a>
                    </div>
                </div>

                <div class="catalog__card card">
                    <a href="#" class="card__img-outer">
                        <div class="card__img-inner">
                            <img src="img/flat-1.jpg" alt="Flat" class="card__img">
                            <p class="card__location">New York, USA</p>
                        </div>
                    </a>
                    <div class="card__body">
                        <div class="card__price-outer">
                            <p class="card__price">$150,000</p>
                            <p class="card__tags">
                                <a href="#" class="card__tag tag card__tag--network">
                                    <span class="tag__svg-wrapper">
                                        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M6.65028 4.84886V2.52028C7.19509 2.3803 7.5989 1.88497 7.5989 1.29706C7.5989 0.60076 7.03245 0.0343018 6.33614 0.0343018C5.63989 0.0343018 5.07343 0.60076 5.07343 1.29706C5.07343 1.88497 5.47724 2.38026 6.02201 2.52024V4.84882C5.36126 4.94825 4.80025 5.35626 4.49085 5.92096L3.10905 4.84676C3.14285 4.75164 3.16141 4.64932 3.16141 4.54276C3.16141 4.04055 2.75281 3.63196 2.25061 3.63196C1.7484 3.63196 1.33981 4.04055 1.33981 4.54276C1.33981 5.04497 1.7484 5.45356 2.25061 5.45356C2.41698 5.45356 2.57292 5.40849 2.70729 5.33029L4.26919 6.5445C4.24615 6.66895 4.2335 6.79695 4.2335 6.92797C4.2335 7.39457 4.38647 7.82599 4.64461 8.17519L2.8786 9.9412C2.75591 10.0639 2.75591 10.2628 2.8786 10.3854C2.93996 10.4468 3.02038 10.4775 3.10076 10.4775C3.18113 10.4775 3.26155 10.4468 3.32292 10.3854L5.08893 8.61942C5.35821 8.8185 5.67641 8.95501 6.02201 9.00703V11.3408C5.67411 11.4691 5.42535 11.8039 5.42535 12.1957C5.42535 12.6979 5.83394 13.1065 6.33614 13.1065C6.83835 13.1065 7.24694 12.6979 7.24694 12.1957C7.24694 11.8038 6.99818 11.469 6.65028 11.3408V9.00707C7.66123 8.85499 8.43879 7.98063 8.43879 6.92801C8.43879 5.8753 7.66119 5.00094 6.65028 4.84886ZM2.25061 4.82532C2.0948 4.82532 1.96809 4.69857 1.96809 4.5428C1.96809 4.38703 2.0948 4.26029 2.25061 4.26029C2.40642 4.26029 2.53313 4.38703 2.53313 4.5428C2.53313 4.69857 2.40638 4.82532 2.25061 4.82532ZM5.70167 1.29706C5.70167 0.947194 5.98628 0.662582 6.3361 0.662582C6.68593 0.662582 6.97058 0.947194 6.97058 1.29706C6.97058 1.64693 6.68593 1.93154 6.3361 1.93154C5.98628 1.93154 5.70167 1.64693 5.70167 1.29706ZM6.33614 12.4782C6.18033 12.4782 6.05363 12.3515 6.05363 12.1957C6.05363 12.0594 6.15068 11.9453 6.27935 11.9189C6.29778 11.9223 6.31671 11.9243 6.33614 11.9243C6.35558 11.9243 6.37451 11.9223 6.39294 11.9189C6.52161 11.9453 6.61866 12.0594 6.61866 12.1957C6.61866 12.3515 6.49192 12.4782 6.33614 12.4782ZM6.33614 8.40229C5.52319 8.40229 4.86182 7.74088 4.86182 6.92792C4.86182 6.78447 4.88281 6.64587 4.92118 6.51464C4.92323 6.50815 4.92515 6.5017 4.92675 6.49512C5.11209 5.89273 5.67373 5.45356 6.33614 5.45356C7.1491 5.45356 7.81051 6.11497 7.81051 6.92792C7.81051 7.74092 7.1491 8.40229 6.33614 8.40229Z" fill="#1B70BB"/>
                                        <path d="M12.554 3.87543C11.8577 3.87543 11.2913 4.44189 11.2913 5.13819C11.2913 5.17065 11.2929 5.2027 11.2953 5.23453L9.02358 6.00912C8.85935 6.06508 8.7716 6.24364 8.8276 6.40783C8.87212 6.53847 8.99417 6.62069 9.1249 6.62069C9.15853 6.62069 9.19271 6.61525 9.2263 6.60381L11.498 5.82926C11.7238 6.17323 12.1127 6.401 12.5541 6.401C13.2503 6.401 13.8168 5.83454 13.8168 5.13824C13.8168 4.44193 13.2503 3.87543 12.554 3.87543ZM12.554 5.77272C12.2042 5.77272 11.9196 5.48811 11.9196 5.13824C11.9196 4.78837 12.2042 4.50375 12.554 4.50375C12.9039 4.50375 13.1885 4.78837 13.1885 5.13824C13.1885 5.48806 12.9039 5.77272 12.554 5.77272Z" fill="#1B70BB"/>
                                        <path d="M1.65397 10.3476C0.957663 10.3476 0.391205 10.9141 0.391205 11.6104C0.391205 12.3067 0.957663 12.8731 1.65397 12.8731C2.35023 12.8731 2.91668 12.3067 2.91668 11.6104C2.91673 10.9141 2.35023 10.3476 1.65397 10.3476ZM1.65397 12.2449C1.3041 12.2449 1.01949 11.9603 1.01949 11.6104C1.01949 11.2605 1.30414 10.9759 1.65397 10.9759C2.00379 10.9759 2.2884 11.2605 2.2884 11.6104C2.28845 11.9602 2.00383 12.2449 1.65397 12.2449Z" fill="#1B70BB"/>
                                        </svg>
                                    </span>
                                    <span class="tag__txt">
                                        4 Network
                                    </span>
                                </a>

                                <a href="#" class="card__tag tag card__tag--family">
                                    <span class="tag__svg-wrapper">
                                        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <g clip-path="url(#clip0_150_6282)">
                                        <path d="M9.99621 11.7819V10.6631C9.99621 10.0697 9.76047 9.50054 9.34084 9.08091C8.92121 8.66128 8.35206 8.42554 7.75862 8.42554H3.28343C2.68998 8.42554 2.12084 8.66128 1.70121 9.08091C1.28158 9.50054 1.04584 10.0697 1.04584 10.6631V11.7819" stroke="#FF8700" stroke-width="0.839098" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path d="M5.52153 6.1879C6.75732 6.1879 7.75912 5.18609 7.75912 3.9503C7.75912 2.71451 6.75732 1.71271 5.52153 1.71271C4.28574 1.71271 3.28394 2.71451 3.28394 3.9503C3.28394 5.18609 4.28574 6.1879 5.52153 6.1879Z" stroke="#FF8700" stroke-width="0.839098" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path d="M13.3528 11.7821V10.6633C13.3525 10.1675 13.1875 9.68589 12.8837 9.29405C12.58 8.90222 12.1547 8.62236 11.6747 8.49841" stroke="#FF8700" stroke-width="0.839098" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path d="M9.43707 1.78564C9.91839 1.90888 10.345 2.1888 10.6496 2.58128C10.9543 2.97376 11.1197 3.45647 11.1197 3.95331C11.1197 4.45016 10.9543 4.93287 10.6496 5.32534C10.345 5.71782 9.91839 5.99775 9.43707 6.12098" stroke="#FF8700" stroke-width="0.839098" stroke-linecap="round" stroke-linejoin="round"/>
                                        </g>
                                        <defs>
                                        <clipPath id="clip0_150_6282">
                                        <rect width="13.4256" height="13.4256" fill="white" transform="translate(0.486511 0.0349731)"/>
                                        </clipPath>
                                        </defs>
                                        </svg>
                                    </span>
                                    <span class="tag__txt">
                                       Family
                                    </span>
                                </a>
                            </p>
                        </div>

                        <div class="card__rooms-info room-info">
                            <div class="room-info__block">
                                <span class="room-info__svg-wrapper">
                                <svg viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect x="2.79956" y="11.7217" width="1.4" height="2.8" fill="#2EC1AC"/>
                                <rect x="9.79999" y="11.7217" width="1.4" height="2.8" fill="#2EC1AC"/>
                                <path d="M0.419549 6.54116H13.5805V7.38703C13.5805 9.93585 11.5142 12.0021 8.96543 12.0021H5.03459C2.48578 12.0021 0.419549 9.93585 0.419549 7.38703V6.54116Z" stroke="#2EC1AC" stroke-width="0.839098"/>
                                <rect x="2.09985" y="3.32108" width="1.4" height="2.8" fill="#2EC1AC"/>
                                <rect x="6.29993" y="3.32108" width="1.4" height="0.700001" fill="#2EC1AC"/>
                                <path d="M7.7001 3.32167C7.7001 2.95397 7.62768 2.58987 7.48696 2.25016C7.34625 1.91044 7.14 1.60177 6.88 1.34177C6.62 1.08176 6.31133 0.875518 5.97161 0.734805C5.6319 0.594092 5.2678 0.521667 4.9001 0.521667C4.5324 0.521667 4.1683 0.594092 3.82859 0.734805C3.48887 0.875518 3.1802 1.08176 2.9202 1.34177C2.66019 1.60177 2.45395 1.91044 2.31324 2.25016C2.17252 2.58987 2.1001 2.95397 2.1001 3.32167L3.50181 3.32167C3.50181 3.13804 3.53797 2.95621 3.60825 2.78657C3.67852 2.61692 3.78151 2.46277 3.91136 2.33293C4.0412 2.20308 4.19535 2.10009 4.365 2.02982C4.53464 1.95954 4.71647 1.92338 4.9001 1.92338C5.08373 1.92338 5.26555 1.95954 5.4352 2.02982C5.60485 2.10009 5.759 2.20308 5.88884 2.33293C6.01869 2.46277 6.12168 2.61692 6.19195 2.78657C6.26222 2.95621 6.29839 3.13804 6.29839 3.32167H7.7001Z" fill="#2EC1AC"/>
                                </svg>
                              </span>
                                <p class="room-info__txt">
                                    <span class="room-info__value">2</span>
                                    <span class="room-info__desc">bathroom</span>
                                </p>
                            </div>

                            <div class="room-info__block">
                                <span class="room-info__svg-wrapper">
                                <svg viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect x="2.79929" y="11.3313" width="1.40001" height="3.50002" fill="#2EC1AC"/>
                                    <rect x="2.79929" y="0.831299" width="1.40001" height="5.60003" fill="#2EC1AC"/>
                                    <rect x="11.2" y="2.23151" width="1.40001" height="8.40004" transform="rotate(90 11.2 2.23151)" fill="#2EC1AC"/>
                                    <rect x="7.69986" y="7.13144" width="1.40001" height="4.20002" transform="rotate(-180 7.69986 7.13144)" fill="#2EC1AC"/>
                                    <rect x="9.79974" y="11.3313" width="1.40001" height="3.50002" fill="#2EC1AC"/>
                                    <rect x="9.79974" y="0.831299" width="1.40001" height="5.60003" fill="#2EC1AC"/>
                                    <path d="M13.5805 11.1923C13.5805 11.424 13.3927 11.6118 13.161 11.6118L0.839092 11.6118C0.607381 11.6118 0.419542 11.424 0.419542 11.1923L0.419542 10.7659C0.419543 8.21711 2.48577 6.15089 5.03458 6.15089L8.96547 6.15089C11.5143 6.15089 13.5805 8.21711 13.5805 10.7659L13.5805 11.1923Z" stroke="#2EC1AC" stroke-width="0.839098"/>
                                </svg>
                              </span>
                                <p class="room-info__txt">
                                    <span class="room-info__value">2</span>
                                    <span class="room-info__desc">bedroom</span>
                                </p>
                            </div>

                            <div class="room-info__block">
                                <span class="room-info__svg-wrapper">
                                    <svg viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M11.9003 7.0002L7.00026 2.10016L4.55024 4.55018L2.10022 7.0002L4.55024 9.45022L7.00026 11.9002L9.45029 9.45022L11.9003 7.0002Z" stroke="#2EC1AC" stroke-width="0.839098"/>
                                    <circle cx="2.10002" cy="6.99998" r="1.68047" fill="white" stroke="#2EC1AC" stroke-width="0.839098"/>
                                    <circle cx="6.99986" cy="2.10002" r="1.68047" fill="white" stroke="#2EC1AC" stroke-width="0.839098"/>
                                    <circle cx="11.9002" cy="6.99998" r="1.68047" fill="white" stroke="#2EC1AC" stroke-width="0.839098"/>
                                    <circle cx="6.99986" cy="11.8999" r="1.68047" fill="white" stroke="#2EC1AC" stroke-width="0.839098"/>
                                    </svg>
                              </span>
                                <p class="room-info__txt">
                                    <span class="room-info__value">1200</span>
                                    <span class="room-info__desc">Sq. Fit</span>
                                </p>
                            </div>


                        </div>
                    </div>
                    <div class="card__footer">
                        <div class="card__realtor realtor">
                            <div class="realtor__img-outer">
                                <img src="img/realtor.png" alt="Realtor" class="realtor__photo">
                            </div>
                            <p class="realtor__name">Adams Justin</p>
                        </div>
                        <a href="" class="card__more-btn btn-glob">View More </a>
                    </div>
                </div>

                <div class="catalog__card card">
                    <a href="#" class="card__img-outer">
                        <div class="card__img-inner">
                            <img src="img/flat-1.jpg" alt="Flat" class="card__img">
                            <p class="card__location">New York, USA</p>
                        </div>
                    </a>
                    <div class="card__body">
                        <div class="card__price-outer">
                            <p class="card__price">$150,000</p>
                            <p class="card__tags">
                                <a href="#" class="card__tag tag card__tag--network">
                                    <span class="tag__svg-wrapper">
                                        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M6.65028 4.84886V2.52028C7.19509 2.3803 7.5989 1.88497 7.5989 1.29706C7.5989 0.60076 7.03245 0.0343018 6.33614 0.0343018C5.63989 0.0343018 5.07343 0.60076 5.07343 1.29706C5.07343 1.88497 5.47724 2.38026 6.02201 2.52024V4.84882C5.36126 4.94825 4.80025 5.35626 4.49085 5.92096L3.10905 4.84676C3.14285 4.75164 3.16141 4.64932 3.16141 4.54276C3.16141 4.04055 2.75281 3.63196 2.25061 3.63196C1.7484 3.63196 1.33981 4.04055 1.33981 4.54276C1.33981 5.04497 1.7484 5.45356 2.25061 5.45356C2.41698 5.45356 2.57292 5.40849 2.70729 5.33029L4.26919 6.5445C4.24615 6.66895 4.2335 6.79695 4.2335 6.92797C4.2335 7.39457 4.38647 7.82599 4.64461 8.17519L2.8786 9.9412C2.75591 10.0639 2.75591 10.2628 2.8786 10.3854C2.93996 10.4468 3.02038 10.4775 3.10076 10.4775C3.18113 10.4775 3.26155 10.4468 3.32292 10.3854L5.08893 8.61942C5.35821 8.8185 5.67641 8.95501 6.02201 9.00703V11.3408C5.67411 11.4691 5.42535 11.8039 5.42535 12.1957C5.42535 12.6979 5.83394 13.1065 6.33614 13.1065C6.83835 13.1065 7.24694 12.6979 7.24694 12.1957C7.24694 11.8038 6.99818 11.469 6.65028 11.3408V9.00707C7.66123 8.85499 8.43879 7.98063 8.43879 6.92801C8.43879 5.8753 7.66119 5.00094 6.65028 4.84886ZM2.25061 4.82532C2.0948 4.82532 1.96809 4.69857 1.96809 4.5428C1.96809 4.38703 2.0948 4.26029 2.25061 4.26029C2.40642 4.26029 2.53313 4.38703 2.53313 4.5428C2.53313 4.69857 2.40638 4.82532 2.25061 4.82532ZM5.70167 1.29706C5.70167 0.947194 5.98628 0.662582 6.3361 0.662582C6.68593 0.662582 6.97058 0.947194 6.97058 1.29706C6.97058 1.64693 6.68593 1.93154 6.3361 1.93154C5.98628 1.93154 5.70167 1.64693 5.70167 1.29706ZM6.33614 12.4782C6.18033 12.4782 6.05363 12.3515 6.05363 12.1957C6.05363 12.0594 6.15068 11.9453 6.27935 11.9189C6.29778 11.9223 6.31671 11.9243 6.33614 11.9243C6.35558 11.9243 6.37451 11.9223 6.39294 11.9189C6.52161 11.9453 6.61866 12.0594 6.61866 12.1957C6.61866 12.3515 6.49192 12.4782 6.33614 12.4782ZM6.33614 8.40229C5.52319 8.40229 4.86182 7.74088 4.86182 6.92792C4.86182 6.78447 4.88281 6.64587 4.92118 6.51464C4.92323 6.50815 4.92515 6.5017 4.92675 6.49512C5.11209 5.89273 5.67373 5.45356 6.33614 5.45356C7.1491 5.45356 7.81051 6.11497 7.81051 6.92792C7.81051 7.74092 7.1491 8.40229 6.33614 8.40229Z" fill="#1B70BB"/>
                                        <path d="M12.554 3.87543C11.8577 3.87543 11.2913 4.44189 11.2913 5.13819C11.2913 5.17065 11.2929 5.2027 11.2953 5.23453L9.02358 6.00912C8.85935 6.06508 8.7716 6.24364 8.8276 6.40783C8.87212 6.53847 8.99417 6.62069 9.1249 6.62069C9.15853 6.62069 9.19271 6.61525 9.2263 6.60381L11.498 5.82926C11.7238 6.17323 12.1127 6.401 12.5541 6.401C13.2503 6.401 13.8168 5.83454 13.8168 5.13824C13.8168 4.44193 13.2503 3.87543 12.554 3.87543ZM12.554 5.77272C12.2042 5.77272 11.9196 5.48811 11.9196 5.13824C11.9196 4.78837 12.2042 4.50375 12.554 4.50375C12.9039 4.50375 13.1885 4.78837 13.1885 5.13824C13.1885 5.48806 12.9039 5.77272 12.554 5.77272Z" fill="#1B70BB"/>
                                        <path d="M1.65397 10.3476C0.957663 10.3476 0.391205 10.9141 0.391205 11.6104C0.391205 12.3067 0.957663 12.8731 1.65397 12.8731C2.35023 12.8731 2.91668 12.3067 2.91668 11.6104C2.91673 10.9141 2.35023 10.3476 1.65397 10.3476ZM1.65397 12.2449C1.3041 12.2449 1.01949 11.9603 1.01949 11.6104C1.01949 11.2605 1.30414 10.9759 1.65397 10.9759C2.00379 10.9759 2.2884 11.2605 2.2884 11.6104C2.28845 11.9602 2.00383 12.2449 1.65397 12.2449Z" fill="#1B70BB"/>
                                        </svg>
                                    </span>
                                    <span class="tag__txt">
                                        4 Network
                                    </span>
                                </a>

                                <a href="#" class="card__tag tag card__tag--family">
                                    <span class="tag__svg-wrapper">
                                        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <g clip-path="url(#clip0_150_6282)">
                                        <path d="M9.99621 11.7819V10.6631C9.99621 10.0697 9.76047 9.50054 9.34084 9.08091C8.92121 8.66128 8.35206 8.42554 7.75862 8.42554H3.28343C2.68998 8.42554 2.12084 8.66128 1.70121 9.08091C1.28158 9.50054 1.04584 10.0697 1.04584 10.6631V11.7819" stroke="#FF8700" stroke-width="0.839098" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path d="M5.52153 6.1879C6.75732 6.1879 7.75912 5.18609 7.75912 3.9503C7.75912 2.71451 6.75732 1.71271 5.52153 1.71271C4.28574 1.71271 3.28394 2.71451 3.28394 3.9503C3.28394 5.18609 4.28574 6.1879 5.52153 6.1879Z" stroke="#FF8700" stroke-width="0.839098" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path d="M13.3528 11.7821V10.6633C13.3525 10.1675 13.1875 9.68589 12.8837 9.29405C12.58 8.90222 12.1547 8.62236 11.6747 8.49841" stroke="#FF8700" stroke-width="0.839098" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path d="M9.43707 1.78564C9.91839 1.90888 10.345 2.1888 10.6496 2.58128C10.9543 2.97376 11.1197 3.45647 11.1197 3.95331C11.1197 4.45016 10.9543 4.93287 10.6496 5.32534C10.345 5.71782 9.91839 5.99775 9.43707 6.12098" stroke="#FF8700" stroke-width="0.839098" stroke-linecap="round" stroke-linejoin="round"/>
                                        </g>
                                        <defs>
                                        <clipPath id="clip0_150_6282">
                                        <rect width="13.4256" height="13.4256" fill="white" transform="translate(0.486511 0.0349731)"/>
                                        </clipPath>
                                        </defs>
                                        </svg>
                                    </span>
                                    <span class="tag__txt">
                                       Family
                                    </span>
                                </a>
                            </p>
                        </div>

                        <div class="card__rooms-info room-info">
                            <div class="room-info__block">
                                <span class="room-info__svg-wrapper">
                                <svg viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect x="2.79956" y="11.7217" width="1.4" height="2.8" fill="#2EC1AC"/>
                                <rect x="9.79999" y="11.7217" width="1.4" height="2.8" fill="#2EC1AC"/>
                                <path d="M0.419549 6.54116H13.5805V7.38703C13.5805 9.93585 11.5142 12.0021 8.96543 12.0021H5.03459C2.48578 12.0021 0.419549 9.93585 0.419549 7.38703V6.54116Z" stroke="#2EC1AC" stroke-width="0.839098"/>
                                <rect x="2.09985" y="3.32108" width="1.4" height="2.8" fill="#2EC1AC"/>
                                <rect x="6.29993" y="3.32108" width="1.4" height="0.700001" fill="#2EC1AC"/>
                                <path d="M7.7001 3.32167C7.7001 2.95397 7.62768 2.58987 7.48696 2.25016C7.34625 1.91044 7.14 1.60177 6.88 1.34177C6.62 1.08176 6.31133 0.875518 5.97161 0.734805C5.6319 0.594092 5.2678 0.521667 4.9001 0.521667C4.5324 0.521667 4.1683 0.594092 3.82859 0.734805C3.48887 0.875518 3.1802 1.08176 2.9202 1.34177C2.66019 1.60177 2.45395 1.91044 2.31324 2.25016C2.17252 2.58987 2.1001 2.95397 2.1001 3.32167L3.50181 3.32167C3.50181 3.13804 3.53797 2.95621 3.60825 2.78657C3.67852 2.61692 3.78151 2.46277 3.91136 2.33293C4.0412 2.20308 4.19535 2.10009 4.365 2.02982C4.53464 1.95954 4.71647 1.92338 4.9001 1.92338C5.08373 1.92338 5.26555 1.95954 5.4352 2.02982C5.60485 2.10009 5.759 2.20308 5.88884 2.33293C6.01869 2.46277 6.12168 2.61692 6.19195 2.78657C6.26222 2.95621 6.29839 3.13804 6.29839 3.32167H7.7001Z" fill="#2EC1AC"/>
                                </svg>
                              </span>
                                <p class="room-info__txt">
                                    <span class="room-info__value">2</span>
                                    <span class="room-info__desc">bathroom</span>
                                </p>
                            </div>

                            <div class="room-info__block">
                                <span class="room-info__svg-wrapper">
                                <svg viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect x="2.79929" y="11.3313" width="1.40001" height="3.50002" fill="#2EC1AC"/>
                                    <rect x="2.79929" y="0.831299" width="1.40001" height="5.60003" fill="#2EC1AC"/>
                                    <rect x="11.2" y="2.23151" width="1.40001" height="8.40004" transform="rotate(90 11.2 2.23151)" fill="#2EC1AC"/>
                                    <rect x="7.69986" y="7.13144" width="1.40001" height="4.20002" transform="rotate(-180 7.69986 7.13144)" fill="#2EC1AC"/>
                                    <rect x="9.79974" y="11.3313" width="1.40001" height="3.50002" fill="#2EC1AC"/>
                                    <rect x="9.79974" y="0.831299" width="1.40001" height="5.60003" fill="#2EC1AC"/>
                                    <path d="M13.5805 11.1923C13.5805 11.424 13.3927 11.6118 13.161 11.6118L0.839092 11.6118C0.607381 11.6118 0.419542 11.424 0.419542 11.1923L0.419542 10.7659C0.419543 8.21711 2.48577 6.15089 5.03458 6.15089L8.96547 6.15089C11.5143 6.15089 13.5805 8.21711 13.5805 10.7659L13.5805 11.1923Z" stroke="#2EC1AC" stroke-width="0.839098"/>
                                </svg>
                              </span>
                                <p class="room-info__txt">
                                    <span class="room-info__value">2</span>
                                    <span class="room-info__desc">bedroom</span>
                                </p>
                            </div>

                            <div class="room-info__block">
                                <span class="room-info__svg-wrapper">
                                    <svg viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M11.9003 7.0002L7.00026 2.10016L4.55024 4.55018L2.10022 7.0002L4.55024 9.45022L7.00026 11.9002L9.45029 9.45022L11.9003 7.0002Z" stroke="#2EC1AC" stroke-width="0.839098"/>
                                    <circle cx="2.10002" cy="6.99998" r="1.68047" fill="white" stroke="#2EC1AC" stroke-width="0.839098"/>
                                    <circle cx="6.99986" cy="2.10002" r="1.68047" fill="white" stroke="#2EC1AC" stroke-width="0.839098"/>
                                    <circle cx="11.9002" cy="6.99998" r="1.68047" fill="white" stroke="#2EC1AC" stroke-width="0.839098"/>
                                    <circle cx="6.99986" cy="11.8999" r="1.68047" fill="white" stroke="#2EC1AC" stroke-width="0.839098"/>
                                    </svg>
                              </span>
                                <p class="room-info__txt">
                                    <span class="room-info__value">1200</span>
                                    <span class="room-info__desc">Sq. Fit</span>
                                </p>
                            </div>


                        </div>
                    </div>
                    <div class="card__footer">
                        <div class="card__realtor realtor">
                            <div class="realtor__img-outer">
                                <img src="img/realtor.png" alt="Realtor" class="realtor__photo">
                            </div>
                            <p class="realtor__name">Adams Justin</p>
                        </div>
                        <a href="" class="card__more-btn btn-glob">View More </a>
                    </div>
                </div>

                <div class="catalog__card card">
                    <a href="#" class="card__img-outer">
                        <div class="card__img-inner">
                            <img src="img/flat-1.jpg" alt="Flat" class="card__img">
                            <p class="card__location">New York, USA</p>
                        </div>
                    </a>
                    <div class="card__body">
                        <div class="card__price-outer">
                            <p class="card__price">$150,000</p>
                            <p class="card__tags">
                                <a href="#" class="card__tag tag card__tag--network">
                                    <span class="tag__svg-wrapper">
                                        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M6.65028 4.84886V2.52028C7.19509 2.3803 7.5989 1.88497 7.5989 1.29706C7.5989 0.60076 7.03245 0.0343018 6.33614 0.0343018C5.63989 0.0343018 5.07343 0.60076 5.07343 1.29706C5.07343 1.88497 5.47724 2.38026 6.02201 2.52024V4.84882C5.36126 4.94825 4.80025 5.35626 4.49085 5.92096L3.10905 4.84676C3.14285 4.75164 3.16141 4.64932 3.16141 4.54276C3.16141 4.04055 2.75281 3.63196 2.25061 3.63196C1.7484 3.63196 1.33981 4.04055 1.33981 4.54276C1.33981 5.04497 1.7484 5.45356 2.25061 5.45356C2.41698 5.45356 2.57292 5.40849 2.70729 5.33029L4.26919 6.5445C4.24615 6.66895 4.2335 6.79695 4.2335 6.92797C4.2335 7.39457 4.38647 7.82599 4.64461 8.17519L2.8786 9.9412C2.75591 10.0639 2.75591 10.2628 2.8786 10.3854C2.93996 10.4468 3.02038 10.4775 3.10076 10.4775C3.18113 10.4775 3.26155 10.4468 3.32292 10.3854L5.08893 8.61942C5.35821 8.8185 5.67641 8.95501 6.02201 9.00703V11.3408C5.67411 11.4691 5.42535 11.8039 5.42535 12.1957C5.42535 12.6979 5.83394 13.1065 6.33614 13.1065C6.83835 13.1065 7.24694 12.6979 7.24694 12.1957C7.24694 11.8038 6.99818 11.469 6.65028 11.3408V9.00707C7.66123 8.85499 8.43879 7.98063 8.43879 6.92801C8.43879 5.8753 7.66119 5.00094 6.65028 4.84886ZM2.25061 4.82532C2.0948 4.82532 1.96809 4.69857 1.96809 4.5428C1.96809 4.38703 2.0948 4.26029 2.25061 4.26029C2.40642 4.26029 2.53313 4.38703 2.53313 4.5428C2.53313 4.69857 2.40638 4.82532 2.25061 4.82532ZM5.70167 1.29706C5.70167 0.947194 5.98628 0.662582 6.3361 0.662582C6.68593 0.662582 6.97058 0.947194 6.97058 1.29706C6.97058 1.64693 6.68593 1.93154 6.3361 1.93154C5.98628 1.93154 5.70167 1.64693 5.70167 1.29706ZM6.33614 12.4782C6.18033 12.4782 6.05363 12.3515 6.05363 12.1957C6.05363 12.0594 6.15068 11.9453 6.27935 11.9189C6.29778 11.9223 6.31671 11.9243 6.33614 11.9243C6.35558 11.9243 6.37451 11.9223 6.39294 11.9189C6.52161 11.9453 6.61866 12.0594 6.61866 12.1957C6.61866 12.3515 6.49192 12.4782 6.33614 12.4782ZM6.33614 8.40229C5.52319 8.40229 4.86182 7.74088 4.86182 6.92792C4.86182 6.78447 4.88281 6.64587 4.92118 6.51464C4.92323 6.50815 4.92515 6.5017 4.92675 6.49512C5.11209 5.89273 5.67373 5.45356 6.33614 5.45356C7.1491 5.45356 7.81051 6.11497 7.81051 6.92792C7.81051 7.74092 7.1491 8.40229 6.33614 8.40229Z" fill="#1B70BB"/>
                                        <path d="M12.554 3.87543C11.8577 3.87543 11.2913 4.44189 11.2913 5.13819C11.2913 5.17065 11.2929 5.2027 11.2953 5.23453L9.02358 6.00912C8.85935 6.06508 8.7716 6.24364 8.8276 6.40783C8.87212 6.53847 8.99417 6.62069 9.1249 6.62069C9.15853 6.62069 9.19271 6.61525 9.2263 6.60381L11.498 5.82926C11.7238 6.17323 12.1127 6.401 12.5541 6.401C13.2503 6.401 13.8168 5.83454 13.8168 5.13824C13.8168 4.44193 13.2503 3.87543 12.554 3.87543ZM12.554 5.77272C12.2042 5.77272 11.9196 5.48811 11.9196 5.13824C11.9196 4.78837 12.2042 4.50375 12.554 4.50375C12.9039 4.50375 13.1885 4.78837 13.1885 5.13824C13.1885 5.48806 12.9039 5.77272 12.554 5.77272Z" fill="#1B70BB"/>
                                        <path d="M1.65397 10.3476C0.957663 10.3476 0.391205 10.9141 0.391205 11.6104C0.391205 12.3067 0.957663 12.8731 1.65397 12.8731C2.35023 12.8731 2.91668 12.3067 2.91668 11.6104C2.91673 10.9141 2.35023 10.3476 1.65397 10.3476ZM1.65397 12.2449C1.3041 12.2449 1.01949 11.9603 1.01949 11.6104C1.01949 11.2605 1.30414 10.9759 1.65397 10.9759C2.00379 10.9759 2.2884 11.2605 2.2884 11.6104C2.28845 11.9602 2.00383 12.2449 1.65397 12.2449Z" fill="#1B70BB"/>
                                        </svg>
                                    </span>
                                    <span class="tag__txt">
                                        4 Network
                                    </span>
                                </a>

                                <a href="#" class="card__tag tag card__tag--family">
                                    <span class="tag__svg-wrapper">
                                        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <g clip-path="url(#clip0_150_6282)">
                                        <path d="M9.99621 11.7819V10.6631C9.99621 10.0697 9.76047 9.50054 9.34084 9.08091C8.92121 8.66128 8.35206 8.42554 7.75862 8.42554H3.28343C2.68998 8.42554 2.12084 8.66128 1.70121 9.08091C1.28158 9.50054 1.04584 10.0697 1.04584 10.6631V11.7819" stroke="#FF8700" stroke-width="0.839098" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path d="M5.52153 6.1879C6.75732 6.1879 7.75912 5.18609 7.75912 3.9503C7.75912 2.71451 6.75732 1.71271 5.52153 1.71271C4.28574 1.71271 3.28394 2.71451 3.28394 3.9503C3.28394 5.18609 4.28574 6.1879 5.52153 6.1879Z" stroke="#FF8700" stroke-width="0.839098" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path d="M13.3528 11.7821V10.6633C13.3525 10.1675 13.1875 9.68589 12.8837 9.29405C12.58 8.90222 12.1547 8.62236 11.6747 8.49841" stroke="#FF8700" stroke-width="0.839098" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path d="M9.43707 1.78564C9.91839 1.90888 10.345 2.1888 10.6496 2.58128C10.9543 2.97376 11.1197 3.45647 11.1197 3.95331C11.1197 4.45016 10.9543 4.93287 10.6496 5.32534C10.345 5.71782 9.91839 5.99775 9.43707 6.12098" stroke="#FF8700" stroke-width="0.839098" stroke-linecap="round" stroke-linejoin="round"/>
                                        </g>
                                        <defs>
                                        <clipPath id="clip0_150_6282">
                                        <rect width="13.4256" height="13.4256" fill="white" transform="translate(0.486511 0.0349731)"/>
                                        </clipPath>
                                        </defs>
                                        </svg>
                                    </span>
                                    <span class="tag__txt">
                                       Family
                                    </span>
                                </a>
                            </p>
                        </div>

                        <div class="card__rooms-info room-info">
                            <div class="room-info__block">
                                <span class="room-info__svg-wrapper">
                                <svg viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect x="2.79956" y="11.7217" width="1.4" height="2.8" fill="#2EC1AC"/>
                                <rect x="9.79999" y="11.7217" width="1.4" height="2.8" fill="#2EC1AC"/>
                                <path d="M0.419549 6.54116H13.5805V7.38703C13.5805 9.93585 11.5142 12.0021 8.96543 12.0021H5.03459C2.48578 12.0021 0.419549 9.93585 0.419549 7.38703V6.54116Z" stroke="#2EC1AC" stroke-width="0.839098"/>
                                <rect x="2.09985" y="3.32108" width="1.4" height="2.8" fill="#2EC1AC"/>
                                <rect x="6.29993" y="3.32108" width="1.4" height="0.700001" fill="#2EC1AC"/>
                                <path d="M7.7001 3.32167C7.7001 2.95397 7.62768 2.58987 7.48696 2.25016C7.34625 1.91044 7.14 1.60177 6.88 1.34177C6.62 1.08176 6.31133 0.875518 5.97161 0.734805C5.6319 0.594092 5.2678 0.521667 4.9001 0.521667C4.5324 0.521667 4.1683 0.594092 3.82859 0.734805C3.48887 0.875518 3.1802 1.08176 2.9202 1.34177C2.66019 1.60177 2.45395 1.91044 2.31324 2.25016C2.17252 2.58987 2.1001 2.95397 2.1001 3.32167L3.50181 3.32167C3.50181 3.13804 3.53797 2.95621 3.60825 2.78657C3.67852 2.61692 3.78151 2.46277 3.91136 2.33293C4.0412 2.20308 4.19535 2.10009 4.365 2.02982C4.53464 1.95954 4.71647 1.92338 4.9001 1.92338C5.08373 1.92338 5.26555 1.95954 5.4352 2.02982C5.60485 2.10009 5.759 2.20308 5.88884 2.33293C6.01869 2.46277 6.12168 2.61692 6.19195 2.78657C6.26222 2.95621 6.29839 3.13804 6.29839 3.32167H7.7001Z" fill="#2EC1AC"/>
                                </svg>
                              </span>
                                <p class="room-info__txt">
                                    <span class="room-info__value">2</span>
                                    <span class="room-info__desc">bathroom</span>
                                </p>
                            </div>

                            <div class="room-info__block">
                                <span class="room-info__svg-wrapper">
                                <svg viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect x="2.79929" y="11.3313" width="1.40001" height="3.50002" fill="#2EC1AC"/>
                                    <rect x="2.79929" y="0.831299" width="1.40001" height="5.60003" fill="#2EC1AC"/>
                                    <rect x="11.2" y="2.23151" width="1.40001" height="8.40004" transform="rotate(90 11.2 2.23151)" fill="#2EC1AC"/>
                                    <rect x="7.69986" y="7.13144" width="1.40001" height="4.20002" transform="rotate(-180 7.69986 7.13144)" fill="#2EC1AC"/>
                                    <rect x="9.79974" y="11.3313" width="1.40001" height="3.50002" fill="#2EC1AC"/>
                                    <rect x="9.79974" y="0.831299" width="1.40001" height="5.60003" fill="#2EC1AC"/>
                                    <path d="M13.5805 11.1923C13.5805 11.424 13.3927 11.6118 13.161 11.6118L0.839092 11.6118C0.607381 11.6118 0.419542 11.424 0.419542 11.1923L0.419542 10.7659C0.419543 8.21711 2.48577 6.15089 5.03458 6.15089L8.96547 6.15089C11.5143 6.15089 13.5805 8.21711 13.5805 10.7659L13.5805 11.1923Z" stroke="#2EC1AC" stroke-width="0.839098"/>
                                </svg>
                              </span>
                                <p class="room-info__txt">
                                    <span class="room-info__value">2</span>
                                    <span class="room-info__desc">bedroom</span>
                                </p>
                            </div>

                            <div class="room-info__block">
                                <span class="room-info__svg-wrapper">
                                    <svg viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M11.9003 7.0002L7.00026 2.10016L4.55024 4.55018L2.10022 7.0002L4.55024 9.45022L7.00026 11.9002L9.45029 9.45022L11.9003 7.0002Z" stroke="#2EC1AC" stroke-width="0.839098"/>
                                    <circle cx="2.10002" cy="6.99998" r="1.68047" fill="white" stroke="#2EC1AC" stroke-width="0.839098"/>
                                    <circle cx="6.99986" cy="2.10002" r="1.68047" fill="white" stroke="#2EC1AC" stroke-width="0.839098"/>
                                    <circle cx="11.9002" cy="6.99998" r="1.68047" fill="white" stroke="#2EC1AC" stroke-width="0.839098"/>
                                    <circle cx="6.99986" cy="11.8999" r="1.68047" fill="white" stroke="#2EC1AC" stroke-width="0.839098"/>
                                    </svg>
                              </span>
                                <p class="room-info__txt">
                                    <span class="room-info__value">1200</span>
                                    <span class="room-info__desc">Sq. Fit</span>
                                </p>
                            </div>


                        </div>
                    </div>
                    <div class="card__footer">
                        <div class="card__realtor realtor">
                            <div class="realtor__img-outer">
                                <img src="img/realtor.png" alt="Realtor" class="realtor__photo">
                            </div>
                            <p class="realtor__name">Adams Justin</p>
                        </div>
                        <a href="" class="card__more-btn btn-glob">View More </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>