<section class="clients" >
  <div class="content">
      <div class="clients__row">
          <a href="#" class="clients__item"><img src="img/client-1.jpg" alt="Client" class="clients__img"></a>
          <a href="#" class="clients__item"><img src="img/client-2.jpg" alt="Client" class="clients__img"></a>
          <a href="#" class="clients__item"><img src="img/client-3.jpg" alt="Client" class="clients__img"></a>
          <a href="#" class="clients__item"><img src="img/client-4.jpg" alt="Client" class="clients__img"></a>
          <a href="#" class="clients__item"><img src="img/client-5.jpg" alt="Client" class="clients__img"></a>
          <a href="#" class="clients__item"><img src="img/client-6.jpg" alt="Client" class="clients__img"></a>
      </div>
  </div>
</section>