<section class="experience" >
    <div class="content">
        <div class="experience__row">
            <div class="experience__txt">
                <div class="experience__txt-inner">
                    <h2 class="experience__title title-glob">
                        World Of Smart Spaces And Development
                    </h2>
                    <p class="experience__desc">
                        We are recognized for exceeding client expectations and delivering great results through dedication,
                        ease of process, and extraordinary services to our worldwide clients.
                    </p>
                    <div class="experience__stats">
                        <div class="experience__stat-item stat-item">
                            <p class="stat-item__value">300+</p>
                            <p class="stat-item__desc">Properties</p>
                        </div>
                        <div class="experience__stat-item stat-item">
                            <p class="stat-item__value">20+</p>
                            <p class="stat-item__desc">Experience</p>
                        </div>
                        <div class="experience__stat-item stat-item">
                            <p class="stat-item__value">150+</p>
                            <p class="stat-item__desc">Verified Agent</p>
                        </div>
                    </div>
                </div>
                <a href="#" class="experience__btn btn-glob">
                    Learn More
                </a>
            </div>
            <div class="experience__img-outer">
                <div class="chart__wrapper">
                    <img src="img/chart.png" alt="Chart" class="chart__img ">
                </div>
                <img src="img/stat.jpg" alt="multi-storey building" class="experience__img-bg background-img">
            </div>
        </div>
    </div>
</section>