<section class="hero">
    <div class="content">
        <div class="hero__row">
            <div class="hero__main">
                <div class="hero__txt">
                    <h1 class="hero__title">Find your next
                        Perfect home</h1>
                    <p class="hero__desc">We are recognized for exceeding client expectations and delivering great results
                        through dedication, ease of process.
                    </p>
                    <a href="#" class="hero__link">
                        <span class="hero__link-txt">
                            Let’s Start
                        </span>
                        <span class="hero__link-svg">
                            <svg width="30" height="10" viewBox="0 0 30 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M30 5L22.5 0.669875L22.5 9.33013L30 5ZM-6.55671e-08 5.75L23.25 5.75L23.25 4.25L6.55671e-08 4.25L-6.55671e-08 5.75Z" fill="#FF5A3C"/>
                            </svg>
                        </span>
                    </a>
                </div>
                <div class="hero__img-block">
                    <img src="img/hero.png" alt="Skyscraper" class="hero__img">
                </div>

                <div class="hero__quote quote">
                    <p class="quote__txt">
                        “We are recognized for exceeding client expectations and delivering great results through dedication
                        , ease of process”
                    </p>
                    <span class="quote__svg-wrapper">
                        <svg viewBox="0 0 41 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M37.5198 28.2728C41.3852 24.0488 40.996 18.6244 40.9837 18.5625V12.375V2.0625C40.9837 0.924 40.0681 0 38.9353 0H26.6444C24.385 0 22.5475 1.85006 22.5475 4.125V18.5625C22.5475 19.701 23.4632 20.625 24.596 20.625H26.6444H30.9012C30.8581 21.4541 30.6492 22.506 30.0224 23.5042C28.9817 25.1563 27.0214 26.2845 24.1924 26.8538L22.5475 27.1838V33H24.596C30.2969 33 34.6458 31.4098 37.5198 28.2728ZM14.9723 28.2728C18.8398 24.0488 18.4485 18.6244 18.4362 18.5625V12.375V2.0625C18.4362 0.924 17.5206 0 16.3878 0H4.09694C1.83748 0 0 1.85006 0 4.125V18.5625C0 19.701 0.915666 20.625 2.04847 20.625H4.09694H8.35366C8.31064 21.4541 8.1017 22.506 7.47487 23.5042C6.43424 25.1563 4.47386 26.2845 1.64492 26.8538L0 27.1838V33H2.04847C7.74936 33 12.0983 31.4098 14.9723 28.2728Z" fill="#FF5A3C"/>
                        </svg>
                    </span>
                </div>
            </div>
            <div class="hero__form-wrapper">
                <form action="" method="post" class="hero__form">
                    <div class="hero__dropdown-wrapper dropdown-wrapper__category">
                        <p class="hero__dropdown-title">Categories</p>
                        <div class="hero__dropdown dropdown">
                            <input type="text" class="dropdown__input" placeholder="Property Categories" readonly>
                            <div class="dropdown__option">
                                <div class="dropdown__item" onclick="showDropdownList(this)">Category 0</div>
                                <div class="dropdown__item" onclick="showDropdownList(this)">Category 1</div>
                                <div class="dropdown__item" onclick="showDropdownList(this)">Category 2</div>
                                <div class="dropdown__item" onclick="showDropdownList(this)">Category 3</div>
                                <div class="dropdown__item" onclick="showDropdownList(this)">Category 4</div>
                                <div class="dropdown__item" onclick="showDropdownList(this)">Category 100</div>
                            </div>
                        </div>
                    </div>

                    <div class="hero__dropdown-wrapper dropdown-wrapper__location">
                        <p class="hero__dropdown-title">Location</p>
                        <div class="hero__dropdown dropdown">
                            <input type="text" class="dropdown__input" placeholder="Select Your City" readonly>
                            <div class="dropdown__option">
                                <div class="dropdown__item" onclick="showDropdownList(this)">Location 0</div>
                                <div class="dropdown__item" onclick="showDropdownList(this)">Location 1</div>
                                <div class="dropdown__item" onclick="showDropdownList(this)">Location 2</div>
                                <div class="dropdown__item" onclick="showDropdownList(this)">Location 3</div>
                                <div class="dropdown__item" onclick="showDropdownList(this)">Location 4</div>
                                <div class="dropdown__item" onclick="showDropdownList(this)">Location 100</div>
                            </div>
                        </div>
                    </div>

                    <div class="hero__dropdown-wrapper dropdown-wrapper__area">
                        <p class="hero__dropdown-title">Area</p>
                        <div class="hero__dropdown dropdown">
                            <input type="text" class="dropdown__input" placeholder="Select Your Area" readonly>
                            <div class="dropdown__option">
                                <div class="dropdown__item" onclick="showDropdownList(this)">Area 0</div>
                                <div class="dropdown__item" onclick="showDropdownList(this)">Area 1</div>
                                <div class="dropdown__item" onclick="showDropdownList(this)">Area 2</div>
                                <div class="dropdown__item" onclick="showDropdownList(this)">Area 3</div>
                                <div class="dropdown__item" onclick="showDropdownList(this)">Area 4</div>
                                <div class="dropdown__item" onclick="showDropdownList(this)">Area 100</div>
                            </div>
                        </div>
                    </div>

                    <div class="hero__submit-wrapper">
                        <button class="hero__submit-btn btn-glob" type="submit">
                            Search
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>