<section class="property" >
  <div class="content">
    <div class="property__row">
      <div class="property__video">
        <div class="property__preview-wrapper">
          <img src="img/property-1.jpg" alt="Video preview" class="property__video-preview">
        </div>
        <button class="property__modal-btn modal__btn" type="button" data-modal="modal-window__video-preview">
          <svg viewBox="0 0 20 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M20 12L0.500001 23.2583L0.500002 0.741669L20 12Z" fill="white"/>
          </svg>
        </button>

        <div class="modal modal-window__video-preview">
          <div class="modal__window">
            <div class="modal__content">
              <button type="button" class="modal__close">
                <svg viewBox="0,0,256,256" fill-rule="nonzero">
                  <g transform="translate(-48,-48) scale(1.375,1.375)">
                    <g fill="#fff" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal">
                      <g transform="scale(5.33333,5.33333)">
                      <path d="M38.98242,6.9707c-0.52851,0.01247 -1.03058,0.23367 -1.39648,0.61523l-13.58594,13.58594l-13.58594,-13.58594c-0.37701,-0.38755 -0.89487,-0.60596 -1.43555,-0.60547c-0.81349,0.00101 -1.54534,0.49459 -1.85108,1.24844c-0.30574,0.75385 -0.12447,1.61777 0.4585,2.18515l13.58594,13.58594l-13.58594,13.58594c-0.52248,0.50163 -0.73294,1.24653 -0.55023,1.94741c0.18271,0.70088 0.73006,1.24823 1.43094,1.43094c0.70088,0.18271 1.44578,-0.02775 1.94741,-0.55023l13.58594,-13.58594l13.58594,13.58594c0.50163,0.52248 1.24653,0.73295 1.94742,0.55024c0.70088,-0.18271 1.24823,-0.73006 1.43094,-1.43094c0.18271,-0.70088 -0.02776,-1.44578 -0.55024,-1.94742l-13.58594,-13.58594l13.58594,-13.58594c0.59567,-0.57119 0.77939,-1.44958 0.46256,-2.21161c-0.31683,-0.76204 -1.06915,-1.25125 -1.8942,-1.23175z"></path>
                      </g>
                    </g>
                  </g>
                </svg>
              </button>
              <iframe class="modal__video"
                      width="100%" height="100%" src="https://www.youtube.com/embed/TG5X4kOjEX8?rel=0"
                      title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;
                                clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                      allowfullscreen>
              </iframe>

            </div>
          </div>
        </div>
      </div>
      <div class="property__txt">
        <h2 class="property__title title-glob">Luxarious Property</h2>
        <p class="property__desc">
          We are recognized for exceeding client expectations and delivering great results through dedication, ease of
          process.
        </p>
        <p class="property__address">915 Ferndale Crescent Newmarket, ON</p>
        <div class="property__price-outer">
          <p class="property__price">$898,000</p>
          <p class="property__tags">
            <a href="#" class="property__tag property-tag property__tag--family">
              <span class="property-tag__svg-wrapper">
                <svg viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_150_6156)">
                <path d="M9.8848 12.2109V11.048C9.8848 10.4311 9.63976 9.83956 9.20358 9.40338C8.76741 8.96721 8.17583 8.72217 7.55899 8.72217H2.90736C2.29051 8.72217 1.69893 8.96721 1.26276 9.40338C0.826583 9.83956 0.581543 10.4311 0.581543 11.048V12.2109" stroke="#FFF9F2" stroke-width="0.87218" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M5.23347 6.39638C6.51798 6.39638 7.55928 5.35508 7.55928 4.07057C7.55928 2.78605 6.51798 1.74475 5.23347 1.74475C3.94896 1.74475 2.90765 2.78605 2.90765 4.07057C2.90765 5.35508 3.94896 6.39638 5.23347 6.39638Z" stroke="#FFF9F2" stroke-width="0.87218" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M13.3738 12.2111V11.0482C13.3734 10.5329 13.2019 10.0323 12.8862 9.62498C12.5705 9.2177 12.1284 8.92681 11.6295 8.79797" stroke="#FFF9F2" stroke-width="0.87218" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M9.30334 1.82056C9.80364 1.94865 10.2471 2.23961 10.5637 2.64756C10.8804 3.05552 11.0523 3.55726 11.0523 4.07369C11.0523 4.59012 10.8804 5.09186 10.5637 5.49982C10.2471 5.90777 9.80364 6.19873 9.30334 6.32682" stroke="#FFF9F2" stroke-width="0.87218" stroke-linecap="round" stroke-linejoin="round"/>
                </g>
                <defs>
                <clipPath id="clip0_150_6156">
                <rect width="13.9549" height="13.9549" fill="white"/>
                </clipPath>
                </defs>
                </svg>

              </span>
              <span class="property-tag__txt">Family</span>
            </a>

          </p>
        </div>
        <div class="property__rooms-info room-info">
          <div class="room-info__block">
            <span class="room-info__svg-wrapper">
              <svg viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="3.19961" y="12.8" width="1.59998" height="3.19996" fill="white"/>
                <rect x="11.1996" y="12.8" width="1.59998" height="3.19996" fill="white"/>
                <path d="M0.43609 6.8355H15.5637V8.36623C15.5637 11.0155 13.416 13.1632 10.7667 13.1632H5.23308C2.58377 13.1632 0.43609 11.0155 0.43609 8.36623V6.8355Z" stroke="white" stroke-width="0.87218"/>
                <rect x="2.40024" y="3.1994" width="1.59998" height="3.19996" fill="white"/>
                <rect x="7.19984" y="3.1994" width="1.59998" height="0.799989" fill="white"/>
                <path d="M8.80032 3.19996C8.80032 2.77973 8.71755 2.36362 8.55673 1.97539C8.39592 1.58715 8.16021 1.23439 7.86307 0.937245C7.56593 0.640102 7.21317 0.404395 6.82493 0.243582C6.43669 0.0827693 6.02059 -1.83686e-08 5.60036 0C5.18014 1.83686e-08 4.76403 0.0827693 4.37579 0.243582C3.98755 0.404395 3.63479 0.640102 3.33765 0.937245C3.04051 1.23439 2.8048 1.58715 2.64399 1.97539C2.48318 2.36362 2.40041 2.77973 2.40041 3.19996H4.00234C4.00234 2.9901 4.04367 2.7823 4.12398 2.58842C4.20429 2.39454 4.322 2.21837 4.47039 2.06998C4.61878 1.92159 4.79494 1.80388 4.98882 1.72357C5.1827 1.64326 5.39051 1.60193 5.60036 1.60193C5.81022 1.60193 6.01802 1.64326 6.2119 1.72357C6.40578 1.80388 6.58195 1.92159 6.73034 2.06998C6.87873 2.21837 6.99644 2.39454 7.07674 2.58842C7.15705 2.7823 7.19839 2.9901 7.19839 3.19996H8.80032Z" fill="white"/>
              </svg>
              </span>
            <p class="room-info__txt">
              <span class="room-info__value">2</span>
              <span class="room-info__desc">bathroom</span>
            </p>
          </div>

          <div class="room-info__block">
            <span class="room-info__svg-wrapper">
              <svg  viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <rect x="3.19974" y="12.0001" width="1.6" height="4" fill="white"/>
              <rect x="3.19974" width="1.6" height="6.4" fill="white"/>
              <rect x="12.8002" y="1.60052" width="1.6" height="9.6" transform="rotate(90 12.8002 1.60052)" fill="white"/>
              <rect x="8.80005" y="7.19983" width="1.6" height="4.8" transform="rotate(-180 8.80005 7.19983)" fill="white"/>
              <rect x="11.2" y="12.0001" width="1.6" height="4" fill="white"/>
              <rect x="11.2" width="1.6" height="6.4" fill="white"/>
              <path d="M15.5638 11.928C15.5638 12.1688 15.3686 12.3641 15.1277 12.3641L0.872089 12.3641C0.631243 12.3641 0.435999 12.1688 0.435999 11.928L0.435999 10.8333C0.435999 8.18395 2.58369 6.03626 5.23299 6.03626L10.7668 6.03626C13.4161 6.03626 15.5638 8.18395 15.5638 10.8333L15.5638 11.928Z" stroke="white" stroke-width="0.87218"/>
              </svg>

              </span>
            <p class="room-info__txt">
              <span class="room-info__value">2</span>
              <span class="room-info__desc">bedroom</span>
            </p>
          </div>

          <div class="room-info__block">
            <span class="room-info__svg-wrapper">
                <svg  viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M8.00007 2.39966L2.39999 7.99974L8.00007 13.5998L13.6002 7.99974L8.00007 2.39966Z" stroke="white" stroke-width="0.87218"/>
                <circle cx="2.40003" cy="8.00044" r="1.96394" fill="white" stroke="white" stroke-width="0.87218"/>
                <circle cx="7.9998" cy="2.40003" r="1.96394" fill="white" stroke="white" stroke-width="0.87218"/>
                <circle cx="13.6002" cy="8.00044" r="1.96394" fill="white" stroke="white" stroke-width="0.87218"/>
                <circle cx="7.9998" cy="13.5999" r="1.96394" fill="white" stroke="white" stroke-width="0.87218"/>
                </svg>

            </span>
            <p class="room-info__txt">
              <span class="room-info__value">1200</span>
              <span class="room-info__desc">Sq. Fit</span>
            </p>
          </div>
        </div>
      </div>

      <div class="property__gallery gallery">
        <a data-fslightbox="first-lightbox" href="img/property-2.jpg" class="gallery__img-wrapper">
          <img src="img/property-2.jpg" alt="House image" class="gallery__img">
        </a>

        <a data-fslightbox="first-lightbox" href="img/property-3.jpg" class="gallery__img-wrapper">
          <img src="img/property-3.jpg" alt="House image" class="gallery__img">
        </a>

        <a data-fslightbox="first-lightbox" href="img/property-4.jpg" class="gallery__img-wrapper">
          <img src="img/property-4.jpg" alt="House image" class="gallery__img">
        </a>

      </div>
    </div>
  </div>
</section>