<section class="review" >
    <div class="content">
        <div class="review__circle review__circle--orange"></div>
        <div class="review__circle review__circle--green"></div>
        <div class="review__circle review__circle--blue"></div>
        <div class="review__circle review__circle--cyan"></div>
        <div class="review__circle review__circle--tomato"></div>
        <div class="review__circle review__circle--yellow"></div>
        <div class="review__circle review__circle--red"></div>
        <div class="review__circle review__circle--golden"></div>
        <div class="review__row">
            <header class="review__header">
                <h2 class="review__title title-glob">Our Customer Review</h2>
                <p class="review__desc">We are recognized for exceeding client expectations and delivering great results through dedication.</p>
            </header>
            <div class="review__slider swiper-slider">
                <div class="review__slider-inner swiper-wrapper">
                    <div class="review__slide swiper-slide">
                        <div class="review__slide-inner customer">
                            <div class="customer__img-wrapper">
                                <img src="img/review-1.png" alt="Customer" class="customer__picture customer__picture--yellow">
                            </div>
                            <div class="customer__txt">
                                <p class="customer__name">Jony Scotty</p>
                                <div class="customer__mark">
                                    <span class="customer__star-wrapper">
                                        <svg viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M20.8306 8.34109L16.2156 12.8376L17.3045 19.1934C17.349 19.4749 17.2379 19.749 17.0082 19.9194C16.8823 20.0157 16.7267 20.0601 16.5712 20.0601C16.4527 20.0601 16.3341 20.0305 16.223 19.9786L10.5191 16.9785L4.81513 19.9786C4.56327 20.112 4.26696 20.0897 4.03732 19.9194C3.80768 19.7564 3.69657 19.4749 3.74101 19.1934L4.82995 12.8376L0.222347 8.34109C0.0223383 8.14108 -0.0517389 7.85218 0.0371538 7.5855C0.126046 7.31883 0.355686 7.11882 0.637179 7.08178L7.01522 6.15581L9.8672 0.377794C10.1191 -0.125931 10.9487 -0.125931 11.1932 0.377794L14.0451 6.15581L20.4232 7.08178C20.7047 7.12622 20.9343 7.31883 21.0232 7.5855C21.1121 7.85218 21.038 8.14108 20.8306 8.34109Z" fill="#FF5A3C"/>
                                        </svg>
                                    </span>

                                    <span class="customer__star-wrapper">
                                        <svg viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M20.8306 8.34109L16.2156 12.8376L17.3045 19.1934C17.349 19.4749 17.2379 19.749 17.0082 19.9194C16.8823 20.0157 16.7267 20.0601 16.5712 20.0601C16.4527 20.0601 16.3341 20.0305 16.223 19.9786L10.5191 16.9785L4.81513 19.9786C4.56327 20.112 4.26696 20.0897 4.03732 19.9194C3.80768 19.7564 3.69657 19.4749 3.74101 19.1934L4.82995 12.8376L0.222347 8.34109C0.0223383 8.14108 -0.0517389 7.85218 0.0371538 7.5855C0.126046 7.31883 0.355686 7.11882 0.637179 7.08178L7.01522 6.15581L9.8672 0.377794C10.1191 -0.125931 10.9487 -0.125931 11.1932 0.377794L14.0451 6.15581L20.4232 7.08178C20.7047 7.12622 20.9343 7.31883 21.0232 7.5855C21.1121 7.85218 21.038 8.14108 20.8306 8.34109Z" fill="#FF5A3C"/>
                                        </svg>
                                    </span>

                                    <span class="customer__star-wrapper">
                                        <svg viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M20.8306 8.34109L16.2156 12.8376L17.3045 19.1934C17.349 19.4749 17.2379 19.749 17.0082 19.9194C16.8823 20.0157 16.7267 20.0601 16.5712 20.0601C16.4527 20.0601 16.3341 20.0305 16.223 19.9786L10.5191 16.9785L4.81513 19.9786C4.56327 20.112 4.26696 20.0897 4.03732 19.9194C3.80768 19.7564 3.69657 19.4749 3.74101 19.1934L4.82995 12.8376L0.222347 8.34109C0.0223383 8.14108 -0.0517389 7.85218 0.0371538 7.5855C0.126046 7.31883 0.355686 7.11882 0.637179 7.08178L7.01522 6.15581L9.8672 0.377794C10.1191 -0.125931 10.9487 -0.125931 11.1932 0.377794L14.0451 6.15581L20.4232 7.08178C20.7047 7.12622 20.9343 7.31883 21.0232 7.5855C21.1121 7.85218 21.038 8.14108 20.8306 8.34109Z" fill="#FF5A3C"/>
                                        </svg>
                                    </span>

                                    <span class="customer__star-wrapper">
                                        <svg viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M20.8306 8.34109L16.2156 12.8376L17.3045 19.1934C17.349 19.4749 17.2379 19.749 17.0082 19.9194C16.8823 20.0157 16.7267 20.0601 16.5712 20.0601C16.4527 20.0601 16.3341 20.0305 16.223 19.9786L10.5191 16.9785L4.81513 19.9786C4.56327 20.112 4.26696 20.0897 4.03732 19.9194C3.80768 19.7564 3.69657 19.4749 3.74101 19.1934L4.82995 12.8376L0.222347 8.34109C0.0223383 8.14108 -0.0517389 7.85218 0.0371538 7.5855C0.126046 7.31883 0.355686 7.11882 0.637179 7.08178L7.01522 6.15581L9.8672 0.377794C10.1191 -0.125931 10.9487 -0.125931 11.1932 0.377794L14.0451 6.15581L20.4232 7.08178C20.7047 7.12622 20.9343 7.31883 21.0232 7.5855C21.1121 7.85218 21.038 8.14108 20.8306 8.34109Z" fill="#FF5A3C"/>
                                        </svg>
                                    </span>

                                    <span class="customer__star-wrapper customer__star-wrapper--empty">
                                        <svg viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M20.8306 8.34109L16.2156 12.8376L17.3045 19.1934C17.349 19.4749 17.2379 19.749 17.0082 19.9194C16.8823 20.0157 16.7267 20.0601 16.5712 20.0601C16.4527 20.0601 16.3341 20.0305 16.223 19.9786L10.5191 16.9785L4.81513 19.9786C4.56327 20.112 4.26696 20.0897 4.03732 19.9194C3.80768 19.7564 3.69657 19.4749 3.74101 19.1934L4.82995 12.8376L0.222347 8.34109C0.0223383 8.14108 -0.0517389 7.85218 0.0371538 7.5855C0.126046 7.31883 0.355686 7.11882 0.637179 7.08178L7.01522 6.15581L9.8672 0.377794C10.1191 -0.125931 10.9487 -0.125931 11.1932 0.377794L14.0451 6.15581L20.4232 7.08178C20.7047 7.12622 20.9343 7.31883 21.0232 7.5855C21.1121 7.85218 21.038 8.14108 20.8306 8.34109Z" fill="#FF5A3C"/>
                                        </svg>
                                    </span>
                                </div>
                                <p class="customer__review-msg">
                                    Quote testimonials are ads or artwork that display positive statements about your
                                    company from a brand evangelist or a delighted customer. The quote is usually
                                    accompanied by an image of the person being quoted to make the message more
                                    relatable to the target audience.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="review__slide swiper-slide">
                        <div class="review__slide-inner customer">
                            <div class="customer__img-wrapper">
                                <img src="img/review-1.png" alt="Customer" class="customer__picture customer__picture--red">
                            </div>
                            <div class="customer__txt">
                                <p class="customer__name">Jony Scotty</p>
                                <div class="customer__mark">
                                    <span class="customer__star-wrapper">
                                        <svg viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M20.8306 8.34109L16.2156 12.8376L17.3045 19.1934C17.349 19.4749 17.2379 19.749 17.0082 19.9194C16.8823 20.0157 16.7267 20.0601 16.5712 20.0601C16.4527 20.0601 16.3341 20.0305 16.223 19.9786L10.5191 16.9785L4.81513 19.9786C4.56327 20.112 4.26696 20.0897 4.03732 19.9194C3.80768 19.7564 3.69657 19.4749 3.74101 19.1934L4.82995 12.8376L0.222347 8.34109C0.0223383 8.14108 -0.0517389 7.85218 0.0371538 7.5855C0.126046 7.31883 0.355686 7.11882 0.637179 7.08178L7.01522 6.15581L9.8672 0.377794C10.1191 -0.125931 10.9487 -0.125931 11.1932 0.377794L14.0451 6.15581L20.4232 7.08178C20.7047 7.12622 20.9343 7.31883 21.0232 7.5855C21.1121 7.85218 21.038 8.14108 20.8306 8.34109Z" fill="#FF5A3C"/>
                                        </svg>
                                    </span>

                                    <span class="customer__star-wrapper">
                                        <svg viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M20.8306 8.34109L16.2156 12.8376L17.3045 19.1934C17.349 19.4749 17.2379 19.749 17.0082 19.9194C16.8823 20.0157 16.7267 20.0601 16.5712 20.0601C16.4527 20.0601 16.3341 20.0305 16.223 19.9786L10.5191 16.9785L4.81513 19.9786C4.56327 20.112 4.26696 20.0897 4.03732 19.9194C3.80768 19.7564 3.69657 19.4749 3.74101 19.1934L4.82995 12.8376L0.222347 8.34109C0.0223383 8.14108 -0.0517389 7.85218 0.0371538 7.5855C0.126046 7.31883 0.355686 7.11882 0.637179 7.08178L7.01522 6.15581L9.8672 0.377794C10.1191 -0.125931 10.9487 -0.125931 11.1932 0.377794L14.0451 6.15581L20.4232 7.08178C20.7047 7.12622 20.9343 7.31883 21.0232 7.5855C21.1121 7.85218 21.038 8.14108 20.8306 8.34109Z" fill="#FF5A3C"/>
                                        </svg>
                                    </span>

                                    <span class="customer__star-wrapper">
                                        <svg viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M20.8306 8.34109L16.2156 12.8376L17.3045 19.1934C17.349 19.4749 17.2379 19.749 17.0082 19.9194C16.8823 20.0157 16.7267 20.0601 16.5712 20.0601C16.4527 20.0601 16.3341 20.0305 16.223 19.9786L10.5191 16.9785L4.81513 19.9786C4.56327 20.112 4.26696 20.0897 4.03732 19.9194C3.80768 19.7564 3.69657 19.4749 3.74101 19.1934L4.82995 12.8376L0.222347 8.34109C0.0223383 8.14108 -0.0517389 7.85218 0.0371538 7.5855C0.126046 7.31883 0.355686 7.11882 0.637179 7.08178L7.01522 6.15581L9.8672 0.377794C10.1191 -0.125931 10.9487 -0.125931 11.1932 0.377794L14.0451 6.15581L20.4232 7.08178C20.7047 7.12622 20.9343 7.31883 21.0232 7.5855C21.1121 7.85218 21.038 8.14108 20.8306 8.34109Z" fill="#FF5A3C"/>
                                        </svg>
                                    </span>

                                    <span class="customer__star-wrapper">
                                        <svg viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M20.8306 8.34109L16.2156 12.8376L17.3045 19.1934C17.349 19.4749 17.2379 19.749 17.0082 19.9194C16.8823 20.0157 16.7267 20.0601 16.5712 20.0601C16.4527 20.0601 16.3341 20.0305 16.223 19.9786L10.5191 16.9785L4.81513 19.9786C4.56327 20.112 4.26696 20.0897 4.03732 19.9194C3.80768 19.7564 3.69657 19.4749 3.74101 19.1934L4.82995 12.8376L0.222347 8.34109C0.0223383 8.14108 -0.0517389 7.85218 0.0371538 7.5855C0.126046 7.31883 0.355686 7.11882 0.637179 7.08178L7.01522 6.15581L9.8672 0.377794C10.1191 -0.125931 10.9487 -0.125931 11.1932 0.377794L14.0451 6.15581L20.4232 7.08178C20.7047 7.12622 20.9343 7.31883 21.0232 7.5855C21.1121 7.85218 21.038 8.14108 20.8306 8.34109Z" fill="#FF5A3C"/>
                                        </svg>
                                    </span>

                                    <span class="customer__star-wrapper customer__star-wrapper--empty">
                                        <svg viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M20.8306 8.34109L16.2156 12.8376L17.3045 19.1934C17.349 19.4749 17.2379 19.749 17.0082 19.9194C16.8823 20.0157 16.7267 20.0601 16.5712 20.0601C16.4527 20.0601 16.3341 20.0305 16.223 19.9786L10.5191 16.9785L4.81513 19.9786C4.56327 20.112 4.26696 20.0897 4.03732 19.9194C3.80768 19.7564 3.69657 19.4749 3.74101 19.1934L4.82995 12.8376L0.222347 8.34109C0.0223383 8.14108 -0.0517389 7.85218 0.0371538 7.5855C0.126046 7.31883 0.355686 7.11882 0.637179 7.08178L7.01522 6.15581L9.8672 0.377794C10.1191 -0.125931 10.9487 -0.125931 11.1932 0.377794L14.0451 6.15581L20.4232 7.08178C20.7047 7.12622 20.9343 7.31883 21.0232 7.5855C21.1121 7.85218 21.038 8.14108 20.8306 8.34109Z" fill="#FF5A3C"/>
                                        </svg>
                                    </span>
                                </div>
                                <p class="customer__review-msg">
                                    Quote testimonials are ads or artwork that display positive statements about your
                                    company from a brand evangelist or a delighted customer. The quote is usually
                                    accompanied by an image of the person being quoted to make the message more
                                    relatable to the target audience.
                                </p>
                            </div>
                        </div>
                    </div>


                    <div class="review__slide swiper-slide">
                        <div class="review__slide-inner customer">
                            <div class="customer__img-wrapper ">
                                <img src="img/review-1.png" alt="Customer" class="customer__picture customer__picture--green">
                            </div>
                            <div class="customer__txt">
                                <p class="customer__name">Jony Scotty</p>
                                <div class="customer__mark">
                                    <span class="customer__star-wrapper">
                                        <svg viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M20.8306 8.34109L16.2156 12.8376L17.3045 19.1934C17.349 19.4749 17.2379 19.749 17.0082 19.9194C16.8823 20.0157 16.7267 20.0601 16.5712 20.0601C16.4527 20.0601 16.3341 20.0305 16.223 19.9786L10.5191 16.9785L4.81513 19.9786C4.56327 20.112 4.26696 20.0897 4.03732 19.9194C3.80768 19.7564 3.69657 19.4749 3.74101 19.1934L4.82995 12.8376L0.222347 8.34109C0.0223383 8.14108 -0.0517389 7.85218 0.0371538 7.5855C0.126046 7.31883 0.355686 7.11882 0.637179 7.08178L7.01522 6.15581L9.8672 0.377794C10.1191 -0.125931 10.9487 -0.125931 11.1932 0.377794L14.0451 6.15581L20.4232 7.08178C20.7047 7.12622 20.9343 7.31883 21.0232 7.5855C21.1121 7.85218 21.038 8.14108 20.8306 8.34109Z" fill="#FF5A3C"/>
                                        </svg>
                                    </span>

                                    <span class="customer__star-wrapper">
                                        <svg viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M20.8306 8.34109L16.2156 12.8376L17.3045 19.1934C17.349 19.4749 17.2379 19.749 17.0082 19.9194C16.8823 20.0157 16.7267 20.0601 16.5712 20.0601C16.4527 20.0601 16.3341 20.0305 16.223 19.9786L10.5191 16.9785L4.81513 19.9786C4.56327 20.112 4.26696 20.0897 4.03732 19.9194C3.80768 19.7564 3.69657 19.4749 3.74101 19.1934L4.82995 12.8376L0.222347 8.34109C0.0223383 8.14108 -0.0517389 7.85218 0.0371538 7.5855C0.126046 7.31883 0.355686 7.11882 0.637179 7.08178L7.01522 6.15581L9.8672 0.377794C10.1191 -0.125931 10.9487 -0.125931 11.1932 0.377794L14.0451 6.15581L20.4232 7.08178C20.7047 7.12622 20.9343 7.31883 21.0232 7.5855C21.1121 7.85218 21.038 8.14108 20.8306 8.34109Z" fill="#FF5A3C"/>
                                        </svg>
                                    </span>

                                    <span class="customer__star-wrapper">
                                        <svg viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M20.8306 8.34109L16.2156 12.8376L17.3045 19.1934C17.349 19.4749 17.2379 19.749 17.0082 19.9194C16.8823 20.0157 16.7267 20.0601 16.5712 20.0601C16.4527 20.0601 16.3341 20.0305 16.223 19.9786L10.5191 16.9785L4.81513 19.9786C4.56327 20.112 4.26696 20.0897 4.03732 19.9194C3.80768 19.7564 3.69657 19.4749 3.74101 19.1934L4.82995 12.8376L0.222347 8.34109C0.0223383 8.14108 -0.0517389 7.85218 0.0371538 7.5855C0.126046 7.31883 0.355686 7.11882 0.637179 7.08178L7.01522 6.15581L9.8672 0.377794C10.1191 -0.125931 10.9487 -0.125931 11.1932 0.377794L14.0451 6.15581L20.4232 7.08178C20.7047 7.12622 20.9343 7.31883 21.0232 7.5855C21.1121 7.85218 21.038 8.14108 20.8306 8.34109Z" fill="#FF5A3C"/>
                                        </svg>
                                    </span>

                                    <span class="customer__star-wrapper">
                                        <svg viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M20.8306 8.34109L16.2156 12.8376L17.3045 19.1934C17.349 19.4749 17.2379 19.749 17.0082 19.9194C16.8823 20.0157 16.7267 20.0601 16.5712 20.0601C16.4527 20.0601 16.3341 20.0305 16.223 19.9786L10.5191 16.9785L4.81513 19.9786C4.56327 20.112 4.26696 20.0897 4.03732 19.9194C3.80768 19.7564 3.69657 19.4749 3.74101 19.1934L4.82995 12.8376L0.222347 8.34109C0.0223383 8.14108 -0.0517389 7.85218 0.0371538 7.5855C0.126046 7.31883 0.355686 7.11882 0.637179 7.08178L7.01522 6.15581L9.8672 0.377794C10.1191 -0.125931 10.9487 -0.125931 11.1932 0.377794L14.0451 6.15581L20.4232 7.08178C20.7047 7.12622 20.9343 7.31883 21.0232 7.5855C21.1121 7.85218 21.038 8.14108 20.8306 8.34109Z" fill="#FF5A3C"/>
                                        </svg>
                                    </span>

                                    <span class="customer__star-wrapper customer__star-wrapper--empty">
                                        <svg viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M20.8306 8.34109L16.2156 12.8376L17.3045 19.1934C17.349 19.4749 17.2379 19.749 17.0082 19.9194C16.8823 20.0157 16.7267 20.0601 16.5712 20.0601C16.4527 20.0601 16.3341 20.0305 16.223 19.9786L10.5191 16.9785L4.81513 19.9786C4.56327 20.112 4.26696 20.0897 4.03732 19.9194C3.80768 19.7564 3.69657 19.4749 3.74101 19.1934L4.82995 12.8376L0.222347 8.34109C0.0223383 8.14108 -0.0517389 7.85218 0.0371538 7.5855C0.126046 7.31883 0.355686 7.11882 0.637179 7.08178L7.01522 6.15581L9.8672 0.377794C10.1191 -0.125931 10.9487 -0.125931 11.1932 0.377794L14.0451 6.15581L20.4232 7.08178C20.7047 7.12622 20.9343 7.31883 21.0232 7.5855C21.1121 7.85218 21.038 8.14108 20.8306 8.34109Z" fill="#FF5A3C"/>
                                        </svg>
                                    </span>
                                </div>
                                <p class="customer__review-msg">
                                    Quote testimonials are ads or artwork that display positive statements about your
                                    company from a brand evangelist or a delighted customer. The quote is usually
                                    accompanied by an image of the person being quoted to make the message more
                                    relatable to the target audience.
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="review__slider-nav">
                    <button class="review__slider-btn review__btn-prev">
                        <svg  viewBox="0 0 32 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M30 17C31.1046 17 32 16.1046 32 15C32 13.8954 31.1046 13 30 13L30 17ZM0.585787 13.5858C-0.195262 14.3668 -0.195262 15.6332 0.585786 16.4142L13.3137 29.1421C14.0948 29.9232 15.3611 29.9232 16.1421 29.1421C16.9232 28.3611 16.9232 27.0948 16.1421 26.3137L4.82843 15L16.1421 3.68629C16.9232 2.90524 16.9232 1.63891 16.1421 0.857863C15.3611 0.0768145 14.0948 0.0768144 13.3137 0.857863L0.585787 13.5858ZM30 13L2 13L2 17L30 17L30 13Z" fill="black"/>
                        </svg>
                    </button>
                    <button class="review__slider-btn review__btn-next">
                        <svg viewBox="0 0 32 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M2 13C0.89543 13 -1.93129e-07 13.8954 0 15C1.93129e-07 16.1046 0.895431 17 2 17L2 13ZM31.4142 16.4142C32.1953 15.6332 32.1953 14.3668 31.4142 13.5858L18.6863 0.857861C17.9052 0.076813 16.6389 0.0768132 15.8579 0.857862C15.0768 1.63891 15.0768 2.90524 15.8579 3.68629L27.1716 15L15.8579 26.3137C15.0768 27.0948 15.0768 28.3611 15.8579 29.1421C16.6389 29.9232 17.9052 29.9232 18.6863 29.1421L31.4142 16.4142ZM2 17L30 17L30 13L2 13L2 17Z" fill="black"/>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>